%select.form-control#application-name{ name: 'service[application_type_attributes][name]', multiple: 'multiple' }
  - Service.application_type_options.each do |option|
    %option{ value: option[:id],
                    'data-port' => option[:port],
                    'data-protocol' => option[:protocol] }= option[:display_name]
