= render 'upsert_form',
         name: 'Edit Service',
         service: service,
         machine_id: machine_id,
         identity: identity,
         web_app_config: web_app_config,
         show_ssh_service_warning: false
