%h5
  Web Application Config (all fields required)
%input{ type: :hidden, name: 'service[web_application_config_attributes][id]', value: web_app_config.id }
.form-group
  %label.control-label.col-md-3 Auth Type
  .col-md-8
    %select.form-control.web-config#web-app-auth-type-menu{ name: 'service[web_application_config_attributes][auth_type]' }
      - %w(unauthenticated form digest basic).each do |type|
        %option{ value: type, selected: web_app_config.auth_type == type }= type.capitalize
.form-group
  %label.control-label.col-md-3 URL Blacklist
  .col-md-8
    %input.form-control.web-config{ type: 'text', name: 'service[web_application_config_attributes][url_blacklist]', value: web_app_config.url_blacklist, placeholder: '/admin,contact,profile/settings' }
.form-group
  %label.control-label.col-md-3 Starting Page
  .col-md-8
    %input.form-control.web-config{ type: 'text', name: 'service[web_application_config_attributes][starting_page_path]', value: web_app_config.starting_page_path }
.form-group
  %label.control-label.col-md-3 Field Name for Username
  .col-md-8
    %input.form-control.web-config.web-app-config-form-config{ type: 'text', name: 'service[web_application_config_attributes][login_form_username_field_name]', value: web_app_config.login_form_username_field_name, disabled: web_app_config.new? || web_app_config.auth_type != 'form' ? true : false }
.form-group
  %label.control-label.col-md-3 Field Name for Password
  .col-md-8
    %input.form-control.web-config.web-app-config-form-config{ type: 'text', name: 'service[web_application_config_attributes][login_form_password_field_name]', value: web_app_config.login_form_password_field_name, disabled: web_app_config.new? || web_app_config.auth_type != 'form' ? true : false }

%script
  $('select#web-app-auth-type-menu').on('change', function(e) {
  var auth_type = $(e.target).val();
  if (auth_type == 'form') {
  $('input.web-app-config-form-config').prop('disabled', '');
  } else {
  $('input.web-app-config-form-config').prop('disabled', 'disabled');
  }
  });
