%tr
  %td.col-md-3
    = requirement.name
  %td.col-md-8
    = requirement.description
  %td.col-md-1.requirement-actions
    = link_to edit_requirement_path(requirement), title: 'Edit Requirement', remote: true do
      %i.fa.fa-edit
    = link_to requirement_provisions_path(requirement.id), title: 'Requirement Settings', remote: true do
      %i.fa.fa-gear
    = link_to requirement_path(requirement), method: :delete, remote: true do
      %i.fa.fa-remove
