- content_for :sidebar do
  = render 'sidebar', org: nil
%section.content-header
  %h1 Requirement Groups
  = render 'application/flash_messages'
%section.content
  .row
    .col-md-12
      .box.box-primary
        .box-header.with-border
          %h3.box-title New Requirement Group
        = form_tag requirement_groups_path, method: 'post' do
          .box-body
            .col-md-6
              .form-group
                %label Requirement Group Name
                %input.form-control{ type: 'text', name: 'requirement_group[name]' }
              .form-group
                %label Requirement Group Description
                %input.form-control{ type: 'text', name: 'requirement_group[description]' }
            .col-md-6
              .form-group
          .box-footer
            %button.btn.btn-primary#create-requirement-group{ type: 'submit' } Submit
