- content_for :sidebar do
  = render 'sidebar', org: nil
%section.content-header
  %h1{ style: 'display: inline-block' }
    %span
      Requirement Group &#8594;
      = @group.name
  = render 'application/flash_messages'
%section.content
  .container
    .row
      .col-md-12
        .box.box-primary.box-solid
          .box-header
            %h3.box-title
              Group Settings
            .box-tools.pull-right
              %button.btn.btn-box-tool{ 'data-widget' => 'collapse', type: 'button' }
                %i.fa.fa-minus
          .box-body
            = form_for @group, html: { class: 'form-horizontal' } do |f|
              .form-group
                .col-md-2
                  %label Group Name
                .col-md-8
                  = f.text_field :name, class: 'form-control'
              .form-group
                .col-md-2
                  %label Group Description
                .col-md-8
                  = f.text_field :description, class: 'form-control'
              %hr
              .form-group
                .col-md-12
                  = f.submit class: 'btn btn-success', value: 'Update', data: { disable_with: 'Updating...' }

  .box.box-solid.box-primary
    .box-header.with-border
      %h3.box-title
        Group Requirements
    .box-body
      = form_tag requirement_group_requirements_path(@group), method: 'post', remote: true do
        .form-group.col-md-4
          %input.form-control{ type: 'text', name: 'requirement[name]', placeholder: 'Requirement Name' }
        .form-group.col-md-6
          %input.form-control{ type: 'text', name: 'requirement[description]', placeholder: 'Requirement Description' }
        .form-group.col-md-2
          %input.btn.btn-success{ type: 'submit', value: 'Add Requirement' }
      %hr

      %table.table#requirements
        %thead
          %tr
            %th.col-md-3 Requirement Name
            %th.col-md-8 Description
            %th.col-md-1 Actions
        %tbody
          - @group.requirements.each do |req|
            = render partial: 'requirement_row', locals: { requirement: req }

.modal.fade#requirement-edit-form-modal
.modal.fade#requirement-settings-form-modal
