.machine-view
  %table.table
    %thead
      %th Machine
      %th Target
      %th Tests Completed
      %th Passing
      %th Erroring
      %th Failing
    %tbody
      - machine_summary.machines.each do |machine|
        :ruby
          states = machine[:assessment_states]
          completed = "#{machine[:assessments_with_results_count]} / #{machine[:assessments_count]}"
        %tr
          %td= link_to machine[:name], results_machine_path(machine[:id], scan_id: scan_id)
          %td= machine[:target_address]
          %td= completed
          - { passing: 'pass', erroring: 'error', failing: 'fail' }.each do |human_status, status|
            %td
              %span{ style: "margin-right: 10px; color: #{status_hex_color(status)};" }
                %i.fa{ class: status_icon(status) }
              = machine[:results_summary][human_status]
