- if !@error_msg.nil?
  :plain
    Norad.alert('Failure', "#{ j(@error_msg) }", 'danger');
- else
  - delete_button = link_to 'Remove', membership_path(@membership), class: 'btn btn-xs btn-danger delete-membership', data: { confirm: 'Are you sure?' }, method: :delete, remote: true
  :plain
    var row = "<tr><td>#{ j(@membership.user.uid) }</td><td>#{ j(@membership.user.fullname) }</td> <td>#{ j(@membership.role.capitalize) }</td><td>#{ j(delete_button) }</td></tr>";
    $('#membership-table tbody').append(row);
    $('input[name="membership[uid]"]').val('');
    Norad.alert('Success', "Membership created!", 'success');
