- schedule = machine.scan_schedules.first || machine.scan_schedules.build
- can_modify = schedule.user_can_modify?(current_user, machine.organization)
.box.box-default
  .box-header.with-border
    %h3.box-title
      %i.fa.fa-clock-o
      Scan Schedule
    .box-tools.pull-right
      %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
        %i.fa.fa-minus
  .box-body
    - if schedule.new?
      %p
        You have not set up a recurring scan for this machine.
        - if can_modify
          = link_to 'Create one.', new_machine_scan_schedule_path(machine), remote: true, id: 'add-new-schedule'
    - else
      :ruby
        edit_path = edit_machine_scan_schedule_path(schedule, machine_id: machine.id)
        destroy_path = machine_scan_schedule_path(schedule, machine_id: machine.id)
      = render partial: 'scan_schedules/table', locals: { schedule: schedule, edit_path: edit_path, destroy_path: destroy_path, can_modify: can_modify }
.modal.fade#scan-schedule-form-modal
