.row
  .col-md-12
    .box.box-default
      .box-header.with-border
        %i.fa.fa-tasks
        %h3.box-title Organization Tests and Requirements
        .box-tools.pull-right
          %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
            %i.fa.fa-minus
      .box-body
        - enforcements = machine.organization.enforcements
        - org_sc_configs = machine.organization.security_container_configs
        .container-fluid
          - if enforcements.blank? && org_sc_configs.blank?
            .row
              .col-md-12
                %b Neither organization tests nor requirements are being enforced.
          - else
            .row
              .col-md-4
                %b
                  Requirement Group
            - machine.organization.enforcements.each do |enforcement|
              .row.req-group{ style: 'padding: 5px 0px;', 'data-enforcement' => enforcement.id }
                .col-md-4.req-group-name
                  %a.req-list-toggle{ href: '#', style: 'margin-right: 5px;' }
                    %i.fa.fa-plus-circle
                  = enforcement.requirement_group_name
              .row.req-list{ style: 'display: none;', 'data-enforcement' => enforcement.id }
                .col-md-12
                  = render 'requirements/requirements_list', target: machine, enforcement: enforcement, requirements: machine.organization.requirements
            - if org_sc_configs.present?
              .row.req-group{ style: 'padding: 5px 0px;' }
                .col-md-4.req-group-name
                  %a.req-list-toggle{ href: '#', style: 'margin-right: 5px;' }
                    %i.fa.fa-plus-circle
                  Organization Tests
              .row.req-list{ style: 'display: none;' }
                .col-md-12
                  = render 'requirements/organization_security_tests',
                    organization: machine.organization,
                    org_sc_configs: org_sc_configs,
                    config_ids: machine.security_container_configs.map(&:security_container_id).to_set
