- if @container_configs.present?
  - view = j(render(partial: 'security_tests/security_test_rows', locals: { configs: @container_configs }))
  :plain
    $('#enabled-containers').append("#{view}");

:plain
  $('select.select2').val(null).trigger('change');

- @container_configs.each do |cc|
  :ruby
    container_id = cc[:container].id.to_i
    parameters = "?container_ids%5B%5D=#{j(container_id.to_s)}"
  :plain
    $('a[href*="#{parameters}"]').text('Config Created').toggleClass('btn-success btn-default').addClass('disabled');
    $('.scan-machine').removeClass('disabled');
    $('.scan-machine').attr('title', 'Press to scan this machine.');
