<template lang="pug">
.modal-body#service-wizard-container
  p
    a.toggle-new-service-wizard(href='#') Looking for the old form?

  #service-wizard-body
    component(
      :is="$store.state.services.view.current_view"
      :application_type_options="application_type_options"
      @validate="validate"
      @setValidator="setValidator"
    )

  hr

  prev-view-button(:hidden="!$store.state.services.view.view_history.length")
  next-view-button(
    :disabled="!$store.state.services.view.next_view"
    :hidden="$store.state.services.view.current_view === 'service_create'"
    @nextView="nextView"
  )
  service-create-button(:machine_id="machine_id" :hidden="$store.state.services.view.current_view !== 'service_create'")

  div.clearfix
</template>

<script>
import ServiceEncryptionProtocol from './service_encryption_protocol.vue'
import ServiceWebAuthMethod from './service_web_auth_method.vue'
import ServiceWebDetails from './service_web_details.vue'
import ServiceWebAuthFields from './service_web_auth_fields.vue'
import ServiceCreds from './service_creds.vue'
import ServiceIdentRequired from './service_ident_required.vue'
import ServiceApplicationType from './service_application_type.vue'
import ServiceDetails from './service_details.vue'
import ServiceCreate from './service_create.vue'
import PrevViewButton from './prev_view_button.vue'
import NextViewButton from './next_view_button.vue'
import ServiceCreateButton from './service_create_button.vue'
import ServiceType from './service_type.vue'

export default {
  components: {
    // views
    service_encryption_protocol: ServiceEncryptionProtocol,
    service_web_auth_method: ServiceWebAuthMethod,
    service_web_details: ServiceWebDetails,
    service_web_auth_fields: ServiceWebAuthFields,
    service_application_type: ServiceApplicationType,
    service_details: ServiceDetails,
    service_create: ServiceCreate,
    service_creds: ServiceCreds,
    service_ident_required: ServiceIdentRequired,
    service_type: ServiceType,

    // buttons
    PrevViewButton,
    NextViewButton,
    ServiceCreateButton
  },
  methods: {
    setValidator (validator) {
      this.validator = validator
    },
    validate () {
      return this.validator.validateAll()
    },
    nextView () {
      this.validate().then(result => {
        if (result) this.$store.commit('services/view/nextView')
      })
    }
  },
  props: ['machine_id', 'application_type_options']
}
</script>
