<template lang="pug">
button.btn.btn-primary.pull-right(@click="nextView" :class="{ disabled: disabled, hide: hidden }") Next
</template>

<script>
export default {
  methods: {
    nextView () {
      this.$emit('nextView')
    }
  },
  props: ['disabled', 'hidden']
}
</script>
