<template lang="pug">
button.btn.btn-default.pull-left(@click="prevView" :class="{ hide: hidden }") Back
</template>

<script>
export default {
  methods: {
    prevView () {
      this.$store.commit('services/view/prevView')
    }
  },
  props: ['hidden']
}
</script>
