<template lang="pug">
div
  h4 Service Type
  p Please select the type of service you'd like to add.
  p
    | A Web service is used to scan HTTP services
    | such as web sites or APIs. An SSH service is used to run authenticated scans for the host. If your
    | service does not fall into these two categories, select Generic.
  form
    .btn-group
      label.btn.btn-default(:class="{ active: service_type === 'WebApplicationService' }")
        input.radio-unstyled(
          type="radio"
          name="service_type"
          @change="setPortDefaults"
          value="WebApplicationService"
          :checked="service_type === 'WebApplicationService'"
        )
        | Web / HTTP
      label.btn.btn-default(:class="{ active: service_type === 'SshService' }")
        input.radio-unstyled(
          type="radio"
          name="service_type"
          @change="setPortDefaults"
          value="SshService"
          :checked="service_type === 'SshService'"
        )
        | SSH
      label.btn.btn-default(:class="{ active: service_type === 'GenericService' }")
        input.radio-unstyled(
          type="radio"
          name="service_type"
          @change="setPortDefaults"
          value="GenericService"
          :checked="service_type === 'GenericService'"
        )
        | Generic
</template>

<script>
import Common from './common.vue'
import { mapState } from 'vuex'

export default {
  extends: Common,
  computed: {
    next_view () {
      if (this.service_type === 'SshService')
        return 'service_details'
      else if (this.service_type === 'WebApplicationService')
        return 'service_web_details'
      else
        return 'service_ident_required'
    },
    ...mapState('services/service', [
      'service_type',
      'port_number'
    ]),
    ...mapState('services/view', [
      'port_number_changed'
    ])
  }
}
</script>
