<template lang="pug">
div
  h4 Service Details
  p Enter the remaining service details below.
  form
    .form-group.row(:class="{ 'has-error': errors.has('name') }")
      label.col-form-label.col-sm-6
        | Name
      .col-sm-6
        input.form-control(
          type="text"
          name="name"
          :value="name"
          @input="setServiceProp"
          v-validate="'required'"
          placeholder="Give this service a unique name"
        )
        span.help-block(v-show="errors.has('name')") This field is required.
    .form-group.row
      label.col-form-label.col-sm-6
        | Description (optional)
      .col-sm-6
        input.form-control(
          type="text"
          name="description"
          :value="description"
          @input="setServiceProp"
          placeholder="Optional description"
        )
    .form-group.row(:class="{ 'has-error': errors.has('port_number') }")
      label.col-form-label.col-sm-6
        | Port Number
      .col-sm-6
        input.form-control(
          type="text"
          name="port_number"
          :value="port_number"
          @input="setPortNumberChanged"
          v-validate="'required|min_value:1|max_value:65535'"
          placeholder="Enter a port number between 1 and 65535"
        )
        span.help-block(v-show="errors.has('port_number')") Must be a valid number between 1 and 65535.
    .form-group.row(v-if="show_transport_protocol" :class="{ 'has-error': errors.has('transport_protocol') }")
      label.col-form-label.col-sm-6
        | Transport Protocol
      .col-sm-6
        .btn-group
          label.btn.btn-default(:class="{ active: transport_protocol === 'tcp' }")
            input.radio-unstyled(
              type="radio"
              name="transport_protocol"
              @change="setServiceProp"
              value="tcp"
              :checked="transport_protocol === 'tcp'"
              v-validate="'required'"
            )
            | TCP
          label.btn.btn-default(:class="{ active: transport_protocol === 'udp' }")
            input.radio-unstyled(
              type="radio"
              name="transport_protocol"
              @change="setServiceProp"
              value="udp"
              :checked="transport_protocol === 'udp'"
              v-validate="'required'"
            )
            | UDP
        span.help-block(v-show="errors.has('transport_protocol')") Please select one of the above.
    .form-group.row(:class="{ 'has-error': errors.has('allow_brute_force') }")
      label.col-form-label.col-sm-6
        | Do you want to allow brute force scans against this service?
      .col-sm-6
        .btn-group
          label.btn.btn-default(:class="{ active: allow_brute_force === true }")
            input.radio-unstyled(
              type="radio"
              name="allow_brute_force"
              value="true"
              @change="setServiceProp"
              :checked="allow_brute_force === true"
              v-validate="'required'"
            )
            | Yes
          label.btn.btn-default(:class="{ active: allow_brute_force === false }")
            input.radio-unstyled(
              type="radio"
              name="allow_brute_force"
              value="false"
              @change="setServiceProp"
              :checked="allow_brute_force === false"
              v-validate="'required'"
            )
            | No
        span.help-block(v-show="errors.has('allow_brute_force')") Please select Yes or No.
</template>

<script>
import Common from './common.vue'
import { mapState } from 'vuex'

export default {
  extends: Common,
  data () {
    return {
      show_transport_protocol: this.service_type === 'GenericService'
    }
  },
  mounted () {
    this.show_transport_protocol = this.service_type === 'GenericService'
  },
  computed: {
    next_view () {
      if (this.service_type === 'GenericService')
        return 'service_application_type'
      else
        return 'service_create'
    },
    ...mapState('services/service', [
      'port_number',
      'service_type',
      'name',
      'description',
      'transport_protocol',
      'allow_brute_force',
    ]),
    ...mapState('services/view', [
      'application_type_changed'
    ])
  },
  methods: {
    setPortNumberChanged (e) {
      this.setServiceProp(e)
      this.$store.commit('services/view/setPortNumberChanged')

      let filtered = this.application_type_options.filter((option) => { return option.port == e.target.value })

      // Don't override the user's application type selection
      if (!this.application_type_changed && filtered.length > 0)
        this.$store.commit('services/service/setProp', { application_port: e.target.value })
      else if (this.service_type === 'GenericService')
        this.$store.commit('services/service/setProp', { application_port: null })
    }
  },
  props: ['application_type_options']
}
</script>
