<template lang="pug">
div
  h4 Web Authentication Method
  p Please specify an authentication method for your web service.
  p
    | Select
    strong
      |
      | Unauthenticated
      |
    | for no authentication,
    strong
      |
      | Digest
      |
    | for HTTP Digest authentication,
    strong
      |
      | Form
      |
    | for HTML form field authentication, or
    strong
      |
      | Basic
      |
    | for HTTP Basic authentication.

  form
    .form-group(:class="{ 'has-error': errors.has('web_auth_method') }")
      .btn-group
        label.btn.btn-default(:class="{ active: web_auth_method === 'unauthenticated' }")
          input.radio-unstyled(
            type="radio"
            name="web_auth_method"
            @change="setServiceProp"
            value="unauthenticated"
            :checked="web_auth_method === 'unauthenticated'"
            v-validate="'required'"
          )
          | Unauthenticated
        label.btn.btn-default(:class="{ active: web_auth_method === 'digest' }")
          input.radio-unstyled(
            type="radio"
            name="web_auth_method"
            @change="setServiceProp"
            value="digest"
            :checked="web_auth_method === 'digest'"
            v-validate="'required'"
          )
          | Digest
        label.btn.btn-default(:class="{ active: web_auth_method === 'form' }")
          input.radio-unstyled(
            type="radio"
            name="web_auth_method"
            @change="setServiceProp"
            value="form"
            :checked="web_auth_method === 'form'"
            v-validate="'required'"
          )
          | Form
        label.btn.btn-default(:class="{ active: web_auth_method === 'basic' }")
          input.radio-unstyled(
            type="radio"
            name="web_auth_method"
            @change="setServiceProp"
            value="basic"
            :checked="web_auth_method === 'basic'"
            v-validate="'required'"
          )
          | Basic
      span.help-block(v-show="errors.has('web_auth_method')") Please select one of the above.
</template>

<script>
import Common from './common.vue'
import { mapState } from 'vuex'

export default {
  extends: Common,
  computed: {
    next_view () {
      if (this.web_auth_method === 'unauthenticated') return 'service_encryption_protocol'
      if (this.web_auth_method === 'form') return 'service_web_auth_fields'
      return 'service_creds'
    },
    ...mapState('services/service', [
      'web_auth_method'
    ])
  }
}
</script>

