<template lang="pug">
div
  h4 Authentication Required?
  p Does this service require a username and password?
  form
    .btn-group
      label.btn.btn-default(:class="{ active: ident_required }")
        input.radio-unstyled(
          type="radio"
          name="ident_required"
          value="true"
          @change="setServiceProp"
          :checked="ident_required"
        )
        | Yes
      label.btn.btn-default(:class="{ active: !ident_required }")
        input.radio-unstyled(
          type="radio"
          name="ident_required"
          value="false"
          @change="setServiceProp"
          :checked="!ident_required"
        )
        | No
</template>

<script>
import Common from './common.vue'
import { mapState } from 'vuex'

export default {
  extends: Common,
  computed: {
    next_view () {
      if (this.ident_required) return 'service_creds'
      return 'service_encryption_protocol'
    },
    ...mapState('services/service', [
      'ident_required'
    ])
  }
}
</script>
