<template lang="pug">
div
  h4 Service Authentication Credentials
  p Enter the username and password your service requires.
  form
    .form-group.row(:class="{ 'has-error': errors.has('username') }")
      label.col-form-label.col-sm-3
        | Username
      .col-sm-9
        input.form-control(
          type="text"
          name="username"
          :value="username"
          @input="setServiceProp"
          v-validate="'required'"
        )
        span.help-block(v-show="errors.has('username')") This field is required.
    .form-group.row(:class="{ 'has-error': errors.has('password') }")
      label.col-form-label.col-sm-3
        | Password
      .col-sm-9
        input.form-control(
          type="password"
          name="password"
          :value="password"
          @input="setServiceProp"
          v-validate="'required'"
        )
        span.help-block(v-show="errors.has('password')") This field is required.
</template>

<script>
import Common from './common.vue'
import { mapState } from 'vuex'

export default {
  extends: Common,
  computed: {
    next_view () {
      return 'service_encryption_protocol'
    },
    ...mapState('services/service', [
      'username',
      'password'
    ])
  }
}
</script>
