<template lang="pug">
button.btn.btn-success.pull-right(@click="create" :class="{ hide: hidden }") Create
</template>

<script>
export default {
  methods: {
    create () {
      let service_obj = this.$store.state.services.view.final_service_obj
      let vm = this
      if (service_obj)
        this.$http.post(Routes.machine_services_path({ machine_id: this.machine_id, format: 'json' }), service_obj)
          .then(response => {
            window.location.href = Routes.machine_services_path({ machine_id: vm.machine_id })
          })
          .catch((error) => {
            let errors = error.response.data.errors
            let error_string = `Unable to create service. ${errors ? errors : ''}`
            vm.$store.commit('services/view/setCreationErrorString', error_string)
          })
    }
  },
  props: ['hidden', 'machine_id']
}
</script>
