<template lang="pug">
div
  h4 Application Type
  p
    | Please select your application type from the list below. This will enable specialized tests to run for this
    | service. If you don't see your application type, please select "Not Listed".
  form
    select.form-control(name="application_port" @change="setApplicationTypeChanged")
      option(value="" :selected="selectedPort === null") Not Listed
      template(v-for="option in filtered_application_type_options")
        option(
          :value="option.port"
          :selected="option.port == selectedPort"
        ) {{ option.display_name }}

</template>

<script>
import Common from './common.vue'
import { mapState } from 'vuex'

export default {
  extends: Common,
  computed: {
    selectedPort () {
      let vm = this
      let filtered = this.application_type_options.filter((opt) => { return opt.port == vm.port_number })
      if (this.application_type_changed && this.application_port)
        return this.application_port
      else if (!this.application_type_changed && filtered.length > 0)
        return this.port_number
      else
        return null
    },
    next_view () {
      return 'service_create'
    },
    filtered_application_type_options () {
      let vm = this
      return this.application_type_options.filter((option) => {
        return option.protocol === vm.transport_protocol
      })
    },
    ...mapState('services/service', [
      'transport_protocol',
      'port_number',
      'application_port'
    ]),
    ...mapState('services/view', [
      'application_type_changed'
    ])
  },
  methods: {
    setApplicationTypeChanged (e) {
      this.$store.commit('services/view/setApplicationTypeChanged')
      if (e.target.value) {
        this.$store.commit('services/service/setProp', { application_port: e.target.value, application_protocol: this.transport_protocol })
      } else {
        this.$store.commit('services/service/setProp', { application_port: null, application_protocol: null })
      }
    }
  },
  props: ['application_type_options']
}
</script>
