<template lang="pug">
div
  .alert.alert-danger(
    role="alert"
    :class="{ hide: !creation_error_string }"
  ) {{ creation_error_string }}
  p Here's a summary of the service to be created:
  table.table.table-striped
    tbody
      template(v-for="(val, key) in displayed_service")
        tr
          td.col-sm-6
            strong {{ key | titleize }}
          td.col-sm-6(v-if="key === 'password'") {{ val | redact }}
          td.col-sm-6(v-else) {{ val }}
</template>

<script>
import { mapState } from 'vuex'
require('lib/filters')

// This function recursively flattens and compacts nested objects.
export default {
  computed: {
    displayed_service () {
      let cloned = {}
      Object.assign(cloned, this.$store.state.services.service)

      cloned.application_type = this.application_type

      // These are internal fields -- don't show to user
      cloned.application_port = null
      cloned.application_protocol = null
      cloned.ident_required = null

      for (let key in cloned)
        if (cloned[key] === null) delete cloned[key]

      return cloned
    },
    service () {
      return {
        encryption_type: this.encryption_protocol,
        port: this.port_number,
        type: this.service_type,
        port_type: this.transport_protocol,
        name: this.name,
        description: this.description,
        allow_brute_force: this.allow_brute_force,
        application_type_attributes: {
          port: this.application_port,
          protocol: this.transport_protocol,
          name: this.application_type
        },
        web_application_config_attributes: {
          auth_type: this.web_auth_method,
          url_blacklist: this.web_blacklist,
          starting_page_path: this.web_start_url,
          login_form_username_field_name: this.username_field,
          login_form_password_field_name: this.password_field
        },
        service_identity_attributes: {
          username: this.username,
          password: this.password
        }
      }
    },
    application_type () {
      for (let option of this.application_type_options)
        if (option.port == this.application_port && option.protocol == this.application_protocol)
          return option.display_name

      return null
    },
    application_protocol () {
      if (this.application_port) // User selected an application type
        return this.transport_protocol
      else
        return null
    },
    ...mapState('services/service', [
      'port_number',
      'transport_protocol',
      'name',
      'description',
      'allow_brute_force',
      'username_field',
      'password_field',
      'username',
      'password',
      'encryption_protocol',
      'service_type',
      'web_auth_method',
      'web_start_url',
      'web_blacklist',
      'application_port'
    ]),
    ...mapState('services/view', [
      'creation_error_string'
    ])
  },
  mounted () {
    this.$store.commit('services/view/setCreationErrorString', null)
    this.$store.commit('services/view/setFinalServiceObj', { service: this.service })
  },
  props: ['application_type_options']
}
</script>
