<template lang="pug">
div
  h4 Web Service Details
  p
    | If your service requires a specific starting page or you would like to blacklist any URLs from test runs, enter
    | these now. Otherwise, leave these blank.
  form
    .form-group.row
      label.col-form-label.col-sm-3
        | Starting Page
      .col-sm-9
        input.form-control(type="text" name="web_start_url" :value="web_start_url" @input="setServiceProp")
    .form-group.row
      label.col-form-label.col-sm-3
        | URL Blacklist
      .col-sm-9
        input.form-control(
          type="text"
          name="web_blacklist"
          :value="web_blacklist"
          @input="setServiceProp"
          placeholder="Ex: /admin,contact,profile/settings"
        )
</template>

<script>
import Common from './common.vue'
import { mapState } from 'vuex'

export default {
  extends: Common,
  computed: {
    next_view () {
      return 'service_web_auth_method'
    },
    ...mapState('services/service', [
      'web_start_url',
      'web_blacklist'
    ])
  }
}
</script>
