.modal-dialog
  .modal-content
    .modal-header
      Edit Requirement
      %button.close{ 'data-dismiss': 'modal' }
        %span &times;
    .modal-body
      = form_for @requirement, html: { class: 'requirement-edit-form' } do |f|
        .form-group
          %label Requirement Name
          = f.text_field :name, class: 'form-control'
        .form-group
          %label Requirement Description
          = f.text_area :description, class: 'form-control'
    .modal-footer
      %button.btn.btn-default{ 'data-dismiss': 'modal' } Close
      %button.btn.btn-primary#requirement-edit-form-save-button Save
