- config_ids = target.security_container_configs.map(&:security_container_id).to_set
- requirements.each do |requirement|
  - next if requirement.requirement_group_id != enforcement.requirement_group_id
  .bg-info{ style: 'padding-left: 5px;' }
    %b
      = requirement.name
  %table.table
    %thead
      %tr
        %th.col-md-3 Security Test Name
        %th.col-md-3 Actions
        %th
          Service Requirements
          = render 'tooltip',
                   message: 'Services satisfying these service requirements must be added or discovered for a security test to scan a particular machine.'
    %tbody
      - requirement.provisions.each do |provision|
        - container = provision.security_container
        %tr
          %td
            - display_name = image_name(container.name)
            = display_name
            %a.pull-right{ href: container.help_url,
                title: security_container_help_title(display_name),
                target: '_blank' }
              %i.fa.fa-question-circle.help-icon
          %td
            - if container.configurable
              :ruby
                classes = 'btn btn-xs create-config'
                classes += config_ids.include?(container.id) ? ' btn-default disabled' : ' btn-success'
                link_msg = config_ids.include?(container.id) ? 'Config Created' : 'Create Config'
              = link_to link_msg, { "container_ids[]": container.id, requirement: true }, class: classes, method: :post, remote: true
            - else
              Test not configurable
          %td
            = container.service_requirements
