- if !@error_msg.nil?
  :plain
    Norad.alert('Failure', "#{ j(@error_msg) }", 'danger');
- else
  - row = render partial: 'requirement_groups/requirement_row', locals: { requirement: @requirement }
  :plain
    var row = "#{ j(row) }";
    $('table#requirements tbody').append(row);
    $('input[name="requirement[name]"],input[name="requirement[description]"]').val('');
    Norad.alert('Success', "Requirement created!", 'success');
