- if !@error_msg.nil?
  :plain
    Norad.alert('Failure', "#{ j(@error_msg) }", 'danger');
- else
  :plain
    $('a[href="/requirements/#{ j(@requirement_id) }"]').closest('tr').remove();
    Norad.alert('Success', 'Requirement successfully deleted!', 'success');
