:plain
  $('#requirement-edit-form-modal.modal.fade')
    .html("#{j render(partial: 'edit_form')}")
    .find('button#requirement-edit-form-save-button')
      .click(function(e) {
        e.preventDefault();
        $('form.requirement-edit-form').submit();
      })
    .end()
    .modal('show')
