- if @error_msg.present?
  :plain
    Norad.alert('Error', '#{j @error_msg}', 'danger')
- else
  :plain
    $('.repository-member-tbody').append(
      "#{j render('security_test_repositories/repository_member_row', member: @member)}"
    )
    $('#member-field').val('')
