<template lang="pug">
div
  loading(v-if="!dataInitialized")
  template(v-if="dataInitialized")
    .row
      .col-md-12
        show-ignored-results-button
  requirements(v-if="dataInitialized && !requirements_empty")
  p(v-if="dataInitialized && requirements_empty") No Results Available
</template>

<script>
import Loading from '../loading.vue'
import Requirements from './requirements.vue'
import ShowIgnoredResultsButton from './show_ignored_results_button.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    Loading,
    Requirements,
    ShowIgnoredResultsButton
  },
  computed: {
    ...mapGetters('results_by_requirement', [
      'dataInitialized',
      'requirements'
    ]),
    requirements_empty () {
      return !this.requirements || Object.keys(this.requirements).length === 0
    }
  },
  data () {
    return {}
  },
  mounted () {
    this.initData({
      docker_command_id: this.docker_command_id,
      org_id: this.org_id,
      export_queues_present: this.export_queues_present
    })
  },
  props: {
    docker_command_id: Number,
    org_id: Number,
    export_queues_present: Boolean
  },
  methods: {
    ...mapActions('results_by_requirement', [
      'initData'
    ])
  }
}
</script>
