<template lang="pug">
div
  template(v-for="requirement in requirements")
    requirement(:requirement="requirement")
</template>

<script>
import { mapGetters } from 'vuex'
import Requirement from './requirement.vue'

export default {
  components: {
    Requirement
  },
  data () {
    return {}
  },
  computed: {
    ...mapGetters('results_by_requirement', [
      'requirements'
    ])
  }
}
</script>
