<template lang="pug">
  .box(:class="box_class + (collapsed ? ' collapsed-box' : '')")
    .box-header.with-border
      h3.box-title(
        data-toggle="tooltip"
        :title="requirement.requirement_description"
        data-placement="right") {{ requirement.requirement_name }}
      .box-tools.pull-right
        button.btn.btn-box-tool(type='button' data-widget='collapse')
          i.fa(:class="icon_class")
      statistics-header(:requirement="requirement")

    results-header(:req="requirement" :expanded="requirement.failing_count > 0" "scope"="failing")
    results-list(:req="requirement" :expanded="requirement.failing_count > 0" "scope"="failing")

    results-header(:req="requirement" :expanded="false" "scope"="erroring")
    results-list(:req="requirement" :expanded="false" "scope"="erroring")

    results-header(:req="requirement" :expanded="false" "scope"="warning")
    results-list(:req="requirement" :expanded="false" "scope"="warning")

    results-header(:req="requirement" :expanded="false" "scope"="passing")
    results-list(:req="requirement" :expanded="false" "scope"="passing")

    results-header(:req="requirement" :expanded="false" "scope"="informing")
    results-list(:req="requirement" :expanded="false" "scope"="informing")
</template>

<script>
import StatisticsHeader from './statistics_header.vue'
import ResultsHeader from './results_header.vue'
import ResultsList from './results_list.vue'

export default {
  components: {
    StatisticsHeader,
    ResultsHeader,
    ResultsList
  },
  computed: {
    box_class () {
      if (this.requirement.failing_count > 0) return 'box-danger'
      if (this.requirement.erroring_count > 0) return 'box-warning'
      if (this.requirement.warning_count > 0) return 'box-warning'
      if (this.requirement.passing_count > 0) return 'box-success'
      if (this.requirement.informing_count > 0) return 'box-info'
      return ''
    },
    collapsed () {
      let req = this.requirement
      if (req.failing_count + req.erroring_count + req.warning_count > 0) return false
      return true
    },
    icon_class () {
      if (this.collapsed) return 'fa-plus'
      return 'fa-minus'
    }
  },
  props: {
    requirement: Object
  }
}
</script>
