<template lang="pug">
.box-body.with-border(v-if="show_result")
  .row
    .col-md-3
      b.underline Machine Name
    .col-md-2.text-center
      b.underline Result Title
    .col-md-2.text-center
      b.underline Security Test
    .col-md-2.text-center
      b.underline View
    .col-md-3.text-right
      b.underline Actions
  .row
    .col-md-12
      // result details
      .row
        .col-md-3
          p
            a(:href="machine_link") {{ result.machine_name }}
        .col-md-2.text-center
          p {{ result.title }}
        .col-md-2.text-center
          p {{ result.test_title }}
        .col-md-2.text-center
          .btn-group(data-toggle="buttons")
            label.btn.btn-default.btn-xs#toggle-output(
              @click="toggleView('output')"
              title="Show Console Output")
              input(type="checkbox" autocomplete="off")
              i.fa.fa-terminal
              |
              | Output
            label.btn.btn-default.btn-xs#toggle-description(
              @click="toggleView('description')"
              title="Show Description")
              input(type="checkbox" autocomplete="off")
              i.fa.fa-toggle-down
              |
              | Description
        .col-md-3.text-right
          .btn-group(role="group")
            stop-ignoring-button(
              :ignored="ignored"
              :result_signature="result.signature"
              :machine_id="result.machine_id"
              :requirement_id="requirement_id")
            machine-ignore-button(
              :ignored="ignored"
              :machine_id="result.machine_id"
              :result_signature="result.signature"
              :requirement_id="requirement_id")
            organization-ignore-button(
              :ignored="ignored"
              :result_signature="result.signature"
              :requirement_id="requirement_id")
            export-results-button(:result_id="result.id")

      result-description(v-if="show_description" :result_description="result.description")
      result-output(v-if="show_output" :result_output="result.output")
</template>

<script>
import StopIgnoringButton from './stop_ignoring_button.vue'
import MachineIgnoreButton from './machine_ignore_button.vue'
import OrganizationIgnoreButton from './organization_ignore_button.vue'
import ExportResultsButton from './export_results_button.vue'
import ResultDescription from './result_description.vue'
import ResultOutput from './result_output.vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    StopIgnoringButton,
    MachineIgnoreButton,
    OrganizationIgnoreButton,
    ExportResultsButton,
    ResultOutput,
    ResultDescription
  },
  computed: {
    ignored () {
      return this.ignored_result_signatures.indexOf(this.result.signature) > -1
    },
    machine_link () {
      return Routes.machine_path(this.result.machine_id)
    },
    show_result () {
      return !this.ignored || this.show_ignored_results
    },
    ...mapGetters('results_by_requirement', [
      'show_ignored_results',
      'ignored_result_signatures'
    ])
  },
  data () {
    return {
      show_output: false,
      show_description: false
    }
  },
  methods: {
    toggleView (view) {
      // A two-step toggle is used to prevent a race condition that can occur in Vue
      // if setting a property equal to some derivation of itself.
      const prop = `show_${view}`
      const old_show = this[prop]
      this[prop] = !old_show
    }
  },
  props: {
    result: Object,
    requirement_id: Number
  }
}
</script>

<style>
.box-body.with-border {
  border-bottom: 1px solid #f4f4f4;
}
</style>
