<template lang="pug">
.row
  .col-md-12
    span.description
      b Description
    pre {{ displayed_description }}
</template>

<script>
export default {
  computed: {
    displayed_description () {
      if (this.result_description) return this.result_description
      return 'No Description Provided'
    }
  },
  data () {
    return {}
  },
  props: {
    result_description: String
  }
}

</script>

<style>
span.description {
  display: inline-block;
}
</style>
