<template lang="pug">
.box-body.with-border
  a(
    :aria-controls="`#{scope}-results-` + req.id"
    :aria-expanded="expanded"
    :data-target="`#${scope}-results-` + req.id"
    data-toggle="collapse"
    href="#"
    v-if="results.length > 0"
    style="margin-right: 15px;"
    @click="toggleCaret"
    title="Click to show / hide results")
    i.fa(:class="caret_class")
  span(v-if="results.length > 0")
    b {{ scope | capitalize }} Results: {{ results.length }}
  span.empty-results(v-else) {{ scope | capitalize }} Results: {{ results.length }}
  span.ignored-result-count(v-if="ignored_result_count > 0 && !show_ignored_results")
    i (Not showing {{ ignored_result_count }} ignored results)
</template>

<script>
import 'lib/filters'
import { mapGetters } from 'vuex'
import toggleClass from 'lib/helpers/toggle_class'

export default {
  computed: {
    caret_class () {
      return this.expanded ? 'fa-caret-down' : 'fa-caret-right'
    },
    ignored_result_count () {
      let relevant_signatures = this.results.map(r => r.signature)
      let intersection = this.ignored_result_signatures.filter((s) => {
        return (relevant_signatures.indexOf(s) > -1)
      })
      return intersection.length
    },
    ...mapGetters('results_by_requirement', [
      'show_ignored_results',
      'ignored_result_signatures'
    ])
  },
  data () {
    return {
      results: this.req[`${this.scope}_results`]
    }
  },
  methods: {
    toggleCaret (e) {
      // Prevent page scroll position from resetting when the <a> is clicked
      e.preventDefault()

      const i = e.target
      toggleClass(i, 'fa-caret-down')
      toggleClass(i, 'fa-caret-right')
    }
  },
  props: {
    scope: String,
    expanded: Boolean,
    req: Object
  }
}
</script>

<style>
.empty-results {
  margin-left: 21px;
}

.ignored-result-count {
  margin-left: 5px;
}
</style>

