<template lang="pug">
a.pull-right.show-hide-ignored.btn.btn-default.btn-xs(
  v-if="dataInitialized"
  @click="toggleIgnoredResults"
  href="#"
  data-toggle="button") Show Ignored Results
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  data () {
    return {}
  },
  methods: {
    ...mapActions('results_by_requirement', [
      'toggleIgnoredResults'
    ])
  },
  computed: {
    ...mapGetters('results_by_requirement', [
      'dataInitialized'
    ])
  }
}
</script>

<style>
a.show-hide-ignored {
  margin-bottom: 15px;
}
</style>
