<template lang="pug">
button.btn.btn-xs.btn-default(
  :class="ignored ? '' : 'disabled'"
  @click="buttonClicked"
  type="button"
  title="Stop Ignoring Result Like This")
  i.fa.fa-eye
  |
  | Stop Ignoring
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {}
  },
  computed: {
    ...mapState('results_by_requirement', [
      'org_id'
    ])
  },
  methods: {
    buttonClicked () {
      this.stopIgnoring({
        result_signature: this.result_signature,
        machine_id: this.machine_id,
        org_id: this.org_id
      })
      this.decrementIgnoringCount(this.requirement_id)
    },
    ...mapActions('results_by_requirement', [
      'stopIgnoring',
      'decrementIgnoringCount'
    ])
  },
  props: {
    ignored: Boolean,
    machine_id: Number,
    result_signature: String,
    requirement_id: Number
  }
}
</script>
