%p.login-box-msg Sign in to start your session
= form_tag login_path do
  .form-group.has-feedback
    %input.form-control{ placeholder: 'Cisco User ID', type: :text, name: 'session[uid]' }
      %span.glyphicon.glyphicon-user.form-control-feedback
  .form-group.has-feedback
    %input.form-control{ placeholder: 'Password', type: :password, name: 'session[password]' }
      %span.glyphicon.glyphicon-lock.form-control-feedback
  .row
    .col-xs-4.col-xs-offset-8
      %button.btn.btn-primary.btn-block.btn-flat#sign-in{ type: :submit } Sign In
