.requirement-view{ style: 'display: none;' }
  - if assessments_unavailable?(docker_command_state, assessments)
    = render 'machines/results/scan_message', docker_command_state: docker_command_state, assessments: assessments, machine: machine
  - else
    :ruby
      reqs = assessments_grouped_by_reqs(assessments)
      ungrouped = reqs.delete('ungrouped')

    - reqs.sort_by { |r, h| [h[:requirement_group_id], r] }.to_h.each do |req, details|
      .box.collapsed-box{ class: "box-#{resolve_status_to_box_class(details[:status])}" }
        .box-header.with-border
          %h3.box-title
            = req
          .box-tools.pull-right
            %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
              %i.fa.fa-plus
          .small-result-statistics-header.pull-right
            - statistics = Assessment.statistics(reqs[req][:assessments])
            = render 'assessments_statistics_header', statistics
        - details[:assessments].sort_by { |a| a.service_id || 0 }.each do |assessment|
          .box-body
            .row{ style: 'margin-bottom: 15px;' }
              .col-md-12
                [#{assessment.service_name}] --
                %strong= security_container_header_string(assessment)
                %i.pull-right= security_container_completion_time_string(assessment)
            = render 'assessment_details', assessment: assessment, machine: machine, org: org
    - unless ungrouped.nil?
      .box.collapsed-box{ class: "box-#{resolve_status_to_box_class(ungrouped[:status])}" }
        .box-header.with-border
          %h3.box-title UNGROUPED
          .box-tools.pull-right
            %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
              %i.fa.fa-plus
          .small-result-statistics-header.pull-right
            - statistics = Assessment.statistics(ungrouped[:assessments])
            = render 'assessments_statistics_header', statistics
        - ungrouped[:assessments].sort_by { |a| a.service_id || 0 }.each do |assessment|
          .box-body
            .row{ style: 'margin-bottom: 15px;' }
              .col-md-9
                - title, version = assessment.title.split('/', 2).last.split(':', 2)
                %strong "#{title} - v#{version} #{assessment.service_id ? '(' + assessment.service_name + ')' : ''}"
            = render 'assessment_details', assessment: assessment, machine: machine, org: org
