- if docker_command_state.nil?
  = render partial: 'machines/results/no_scans_run', locals: { machine: machine }
- elsif docker_command_state == 'errored'
  %h4.text-center
    %i.circle-danger.fa.fa-exclamation-triangle
    Something went wrong with the requested scan
- elsif docker_command_state == 'pending'
  %h4.text-center
    %i.fa.fa-clock-o
    A scan has been requested and is pending
- elsif docker_command_state == 'assessments_created' && assessments.empty?
  %h4.text-center
    %i.circle-warning.fa.fa-exclamation-triangle
    No Security Tests Launched
  %p.text-center.machine-results-warning-description
    A scan was requested, but the machine did not have any services which corresponded with the security tests
    applied to this machine.
