.security-test-view{ style: 'display: none;' }
  - if assessments_unavailable?(docker_command_state, assessments)
    = render 'machines/results/scan_message', docker_command_state: docker_command_state, assessments: assessments, machine: machine
  - else
    - assessments.sort_by { |a| a.service_id || 0 }.each do |assessment|
      .box.collapsed-box{ class: "box-#{assessment_box_color(assessment)}" }
        .box-header.with-border
          %h3.box-title
            = requirements_to_human_from_assessment(assessment)
            = service_name(assessment)
            \--
            %strong= security_container_header_string(assessment)
          .box-tools.pull-right
            %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
              %i.fa.fa-plus
          .small-result-statistics-header.pull-right
            - statistics = assessment.statistics
            = render 'assessment_statistics_header', statistics
        .box-body
          = render 'assessment_details', assessment: assessment, machine: machine, org: org
