.box.box-default
  .box-header.with-border
    %h3.box-title
      %i.fa.fa-bar-chart
      Stats
  .box-body
    .stats-label.stats-label-success
      Passing
      %span.stats-badge.stats-badge-success.pull-right
        #{summary_stats[:passed] || 0}
    .stats-label.stats-label-warning
      Warning/Erroring
      %span.stats-badge.stats-badge-warning.pull-right
        #{summary_stats[:errored] + summary_stats[:warned] || 0}
    .stats-label.stats-label-danger
      Failing
      %span.stats-badge.stats-badge-danger.pull-right
        #{summary_stats[:failed] || 0}
    .stats-label.stats-label-info
      Info
      %span.stats-badge.stats-badge-info.pull-right
        #{summary_stats[:info] || 0}
    .stats-label.stats-label-default
      Ignored
      %span.stats-badge.stats-badge-default.pull-right
        #{summary_stats[:ignored] || 0}
  .box-footer
    .stats-label.stats-label-dark
      Completed
      %span.stats-badge.stats-badge-dark.pull-right
        #{summary_stats[:total] - summary_stats[:incomplete]} / #{summary_stats[:total]}
