.status-view
  - if assessments_unavailable?(docker_command_state, assessments)
    = render 'machines/results/scan_message', docker_command_state: docker_command_state, assessments: assessments, machine: machine
  - else
    - results = reduce_by_result_status(assessments)
    = render 'machines/results/status_section', results: results[:fail], section: :fail, org: org, machine: machine
    = render 'machines/results/status_section', results: results[:error], section: :error, org: org, machine: machine
    = render 'machines/results/status_section', results: results[:warn], section: :warn, org: org, machine: machine
    = render 'machines/results/status_section', results: results[:pass], section: :pass, org: org, machine: machine
    = render 'machines/results/status_section', results: results[:info], section: :info, org: org, machine: machine
