:plain
  $('#user-edit-form-modal.modal.fade').html("#{j render(partial: 'edit_form')}")
  $('#user-edit-form-modal').modal('show')
  $('button#user-edit-form-save-button').click(function(e) {
    e.preventDefault();
    $('form.user-edit-form').submit();
  });
