%table.table
  %tr
    %td
      %b Name
    %td= repository.name
  %tr
    %td
      %b Scope
    %td= scope_for(repository)
  - if repository.authorizer&.fetch(:can_peruse?)
    %tr
      %td
        %b Host
      %td= repository.host
    %tr
      %td
        %b Username
      %td= repository.username
    %tr
      %td
        %b Created
      %td= format_timestamp(repository.created_at)
    %tr
      %td
        %b Updated
      %td= format_timestamp(repository.updated_at)
