= repository_form_for(repository) do
  .hide.alert.alert-danger#repository-form-errors{ role: :alert }

  .form-group
    %label.control-label.col-md-3 Name
    .col-md-8
      = text_field_tag 'security_test_repository[name]',
        repository&.name,
        class: 'form-control',
        placeholder: 'Acme Corp Registry'

  .form-group
    %label.control-label.col-md-3 Scope
    .col-md-8
      %label.radio-inline
        = radio_button_tag 'security_test_repository[public]',
          true,
          repository&.public
        Public
      %label.radio-inline
        = radio_button_tag 'security_test_repository[public]',
          false,
          !repository&.public
        Private

  .form-group
    %label.control-label.col-md-3 Host with Port
    .col-md-8
      = text_field_tag 'security_test_repository[host]',
        repository&.host,
        class: 'form-control',
        placeholder: 'registry.acme-corp.com:5000'

  .form-group
    %label.control-label.col-md-3 Username
    .col-md-8
      = text_field_tag 'security_test_repository[username]',
        repository&.username,
        class: 'form-control',
        placeholder: 'Leave blank for open repositories'

  .form-group
    %label.control-label.col-md-3 Password
    .col-md-8
      = password_field_tag 'security_test_repository[password]',
        nil,
        class: 'form-control',
        placeholder: (repository&.id ? 'Leave blank to keep current password' : 'Leave blank for open repositories')

  - if repository&.persisted?
    .form-group
      %label.control-label.col-md-3 Created
      .col-md-8
        %input.form-control{ type: :text, readonly: true, value: format_timestamp(repository.created_at) }

    .form-group
      %label.control-label.col-md-3 Updated
      .col-md-8
        %input.form-control{ type: :text, readonly: true, value: format_timestamp(repository.updated_at) }
