- if members.present?
  .row
    = form_tag(security_test_repository_repository_members_path(security_test_repository_id: @repository.id),
               method: :post, remote: true) do
      .form-group.col-md-4
        %input.form-control#member-field{ type: :text, name: 'repository_member[uid]', placeholder: 'Enter User ID' }
      .form-group.col-md-2
        %select.form-control{ name: 'repository_member[role_type]' }
          %option{ value: 'reader' } Reader
          %option{ value: 'admin' } Admin
      %button.btn.btn-success{ type: :submit } Add Repository Member

  %table.table
    %thead
      %th User ID
      %th Name
      %th Type
      %th Actions
    %tbody.repository-member-tbody
      - members.each do |member|
        = render 'repository_member_row', member: member

- else
  %p You don't appear to be an admin of this repository. Only admins can edit repository membership.
