%tr{ 'data-repository-member-id': member.id }
  %td= member.user.uid
  %td= member.user.fullname
  %td= titleize(member.role_type)
  %td
    - if current_user.uid == member.user.uid
      = link_to 'Remove',
                '#',
                class: 'btn btn-xs btn-danger remove-member disabled',
                title: 'You cannot remove yourself as an admin for this repository'
    - else
      = link_to 'Remove',
                repository_member_path(member),
                class: 'btn btn-xs btn-danger remove-member',
                data: { confirm: 'Are you sure?' },
                method: :delete,
                remote: true

