= whitelist_entry_form_for(repository, org_id, checked) do
  = hidden_field_tag 'organization_id', org_id
  = check_box_tag 'repository_whitelist_entry[organization_id]', org_id, checked, class: 'whitelist-entry'
