- if @error_msg.present?
  :plain
    $('#repository-form-errors').html("#{j @error_msg}")
    $('#repository-form-errors').removeClass('hide')
- else
  :plain
    $('#repository-form-modal').modal('hide')
    Norad.alert('Success', 'Test repository successfully created!', 'success self-destructable')
    Norad.destruct_alerts_in(2000)
    $('#repositories-table-body').append("#{j render('repository_row', repository: @repository)}")
