- content_for :sidebar do
  = render 'sidebar', org: @org, machine: @machine

%section.content-header
  %h1{ style: 'display: inline-block' }
    Test Repositories
    %span{ style: 'font-size: 12pt;' }
      = render 'tooltip',
               message: 'Test Repositories are where security tests are created, stored, and used for scans.'
  = link_to 'New Test Repository',
    new_security_test_repository_path,
    remote: true,
    class: 'btn btn-success btn-xs pull-right',
    id: 'new-repository',
    title: 'Create New Test Repository'
%section.content
  .box
    .box-body.no-padding
      - if @repositories.count.zero?
        %p No test repositories present.
      - else
        %table.table.table-hover
          %thead
            %tr
              %th Name
              %th.col-md-3 Scope
          %tbody#repositories-table-body
            - @repositories.sort_by(&:name).each do |repository|
              = render 'repository_row', repository: repository

.modal.fade#repository-form-modal
