- content_for :sidebar do
  = render 'sidebar', org: nil
%section.content-header
  %h1{ style: 'display: inline-block' }
    %span
      Test Repository &#8594;
      = @repository.name
  - if @repository.authorizer&.fetch(:can_edit?)
    = link_to 'Remove Repository',
              security_test_repository_path(@repository),
              class: 'btn btn-danger btn-xs pull-right',
              method: :delete,
              data: { confirm: 'Are you sure? This test repository and all its containers will be removed.' }

  = render 'application/flash_messages'
%section.content
  .box.box-primary.box-solid
    .box-header
      %h3.box-title
        Test Repository Details
    .box-body
      - if @repository.authorizer&.fetch(:can_edit?)
        = render 'form', repository: @repository
        %hr
        .form-group
          = submit_tag 'Update', class: 'btn btn-success', id: 'submit-repository'

      - else
        = render 'details', repository: @repository

  .box.box-solid.box-primary
    .box-header.with-border
      %h3.box-title
        Repository Admins
    .box-body
      = render 'members', repository: @repository, members: @members

  .box.box-solid.box-primary
    .box-header.with-border
      %h3.box-title
        Organization Whitelist
    .box-body
      = render 'whitelist', repository: @repository, orgs: @organizations

  .box.box-solid.box-primary
    .box-header.with-border
      %h3.box-title
        Security Tests
    .box-body
      %p
        - if @repository.authorizer&.fetch(:can_edit?)
          = link_to 'New Security Test',
            new_security_test_repository_repository_security_container_path(@repository),
            remote: true,
            class: 'btn btn-success btn-xs',
            id: 'new-security-test',
            title: 'Create New Security Test'
      - if @containers.present?
        = render 'containers', repository: @repository, containers: @containers
      %p#no-containers{ class: ('hide' if @containers.present?) }
        None

.modal.fade#container-form-modal
