- content_for :sidebar do
  = render 'sidebar', org: @org, relays: @relays
%section.content-header
  = render 'organization_header', org: @org, menu_name: 'Relays'
  = render 'application/flash_messages'
  = render 'application/fingerprint_modal'
  .modal.modal-warning.fade.display-none#relay-ssh-key-modal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", :type => "button" }
            %span{ "aria-hidden" => "true" } &times;
          %h4.modal-title Confirm
        .modal-body
          %p#relay-ssh-key-modal-warning
        .modal-footer
          %button.btn.btn-outline.pull-left{ "data-dismiss" => "modal", :type => "button" } Close
          %button.btn.btn-outline#toggle-relay-ssh-key{ :type => "button" } Update

%section.content
  - if @org.blank? || @relays.nil?
    .callout.callout-danger
      %b You are not authorized to view the Relays for this Organization
  - else
    .box.box-solid
      .box-body
        %h4{ style: 'display: inline-block; margin: 0px;' }
          Global Relay Settings
        %div{ style: 'display: inline-block; margin-left: 30px;' }
          %input.org-config-setting#auto-verify{ type: 'checkbox', checked: auto_approve?(@org), 'data-config-setting': 'auto_approve_docker_relays', 'data-config-id': @org.configuration.id }
          %span Auto Verify New Relays
        %div{ style: 'display: inline-block; margin-left: 30px;' }
          %input.org-config-setting#ssh-key{ type: 'checkbox', checked: relay_ssh_key?(@org), 'data-config-setting': 'use_relay_ssh_key', 'data-config-id': @org.configuration.id }
          %span
            Use Relay SSH Key
            %i.fa.fa-question-circle.help-icon{ 'data-toggle' => 'tooltip', title: 'Determines whether authenticated scans use SSH keys stored in the Norad Cloud or stored on the Relay host.', 'data-placement' => 'top' }
    .box.box-default
      .box-header.with-border
        %i.fa.fa-sitemap
        %h4.box-title Registered Relays
        .box-tools.pull-right
          .btn.btn-box-tool
            - message = 'Relays are required for scanning machines on a private LAN not accessible to the Norad application.'
            %i.fa.fa-question-circle{ 'data-toggle' => 'tooltip', 'title' => message, 'data-placement' => 'left' }
      .box-body
        - if @relays.blank?
          %h4.text-center
            No Relays have been registered to this organization
        - else
          - @relays.each do |relay|
            = render 'relay', relay: relay
