%p.login-box-msg Sign in to start your session
= form_tag login_path do
  .form-group.has-feedback
    %input.form-control{ placeholder: 'Email', type: :text, name: 'session[email]' }
      %span.glyphicon.glyphicon-user.form-control-feedback
  .form-group.has-feedback
    %input.form-control{ placeholder: 'Password', type: :password, name: 'session[password]' }
      %span.glyphicon.glyphicon-lock.form-control-feedback
  .row
    .col-xs-8
      = link_to 'Trouble signing in?', new_password_reset_path
    .col-xs-4
      %button.btn.btn-primary.btn-block.btn-flat#sign-in{ type: :submit } Sign In
  %hr
  %p Don't have an account?
  = link_to 'Sign up', new_user_path, class: 'btn btn-success btn-block btn-flat'
