.modal-dialog{ role: 'document' }
  .modal-content
    .modal-header
      %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
        %span{ 'aria-hidden' => 'true' } &times;
      %h4.modal-title
        New Result Export Queue
    .modal-body
      .form-horizontal
        .form-group
          %label.control-label.col-md-3 Queue Type
          .col-md-8
            %select.form-control#queue-type
              %option{ value: new_organization_infosec_export_queue_path, selected: true }
                Cisco InfoSec
              %option{ value: new_organization_jira_export_queue_path }
                Jira
      #queue-form
        = render 'infosec_export_queues/new_form', org_id: org_id
