.modal-dialog
  .modal-content
    .modal-header
      Requirement Settings
      %button.close{ 'data-dismiss': 'modal' }
        %span &times;
    .modal-body
      .alert.alert-danger.hide#error-adding-security-test
      = form_tag requirement_provisions_path(@requirement.id), method: 'post', id: 'add-requirement_provisions-form', remote: true do
        .form-group
          .col-md-8
            %select.security-test-list.form-control{ multiple: 'multiple', name: 'container_ids[]' }
              - @containers.each do |container|
                %option{ value: container.id }= image_name(container.name)
          .col-md-4
            %button.btn.btn-success#add-containers{ type: 'submit' }
              Add Security Tests

      %table.table#enabled-containers
        %thead
          %tr
            %th.col-md-6 Security Test Name
            %th.col-md-2.text-center Actions
            %th Service Requirements
        %tbody
          - @provisions.each do |provision|
            = render partial: 'provision_row', locals: { provision: provision }

    .modal-footer
      %button.btn.btn-default{ 'data-dismiss': 'modal' } Close
