- if @error_msg
  :plain
    $('#error-adding-security-test').html("#{j @error_msg}");
    $('#error-adding-security-test').removeClass('hide');
- else
  - @provisions.each do |provision|
    - view = j(render(partial: 'provision_row', locals: { provision: provision }))
    :plain
      $('#enabled-containers').append("#{view}");
      $('select.security-test-list').val(null).trigger('change');
