- if @pid
  :plain
    $('[data-result-export-queue-id="#{j(@pid.to_s)}"]').remove();
- else
  :plain
    Norad.alert('Error!', 'Unable to delete the Infosec export location. Please try refreshing the page.', 'danger');
