<template lang="pug">
div
  machine-modal(mode="edit")
  table.table.table-hover
    thead
      tr
        th Machine Name
          a.machine-name-sort.action(@click="sortMachinesByName()")
            i.fa(:class="sortCssClasses('name')")
        th Scan Target
          i.fa.fa-question-circle.help-icon.sortable-header-tooltip(
            data-toggle="tooltip"
            data-placement="top"
            title="The preferred scan target. Will be defaulted to the IP of the machine, but it can be set to the FQDN \
              as well if you like.")
          a.machine-scan-target-sort.action(@click="sortMachinesByScanTarget()")
            i.fa(:class="sortCssClasses('scan_target')")
        th Description
        th Status
          a.machine-status-sort.action(@click="sortMachinesByStatus()")
            i.fa(:class="sortCssClasses('status')")
        th Actions
    tbody
      machine-row(v-for="machine in filteredMachines", :machine="machine", :key="machine.id")
</template>

<script>
import MachineModal from './machine-modal.vue'
import MachineRow from './machine-row.vue'
import { mapState } from 'vuex'

export default {
  components: {
    MachineModal,
    MachineRow
  },
  props: {
    machines: Array
  },
  data: function () {
    return {
      sortOrder: 'asc',
      sortColumn: 'name'
    }
  },
  computed: {
    ...mapState('machines', ['organization']),
    sortMethod: function () {
      let sortColumn = this.sortColumn
      switch (sortColumn) {
        case "scan_target":
          return(
            function (machine) {
              if (machine.use_fqdn_as_target) {
                return machine.fqdn
              } else {
                return machine.ip ? machine.ip : machine.fqdn
              }
            }
          )
          break
        default:
          return(function (machine) { return(machine[sortColumn]); })
      }
    },
    filteredMachines: function () {
      let machines = this.machines.slice()
      let sortMethod = this.sortMethod
      let sortOrder = this.sortOrder

      machines.sort(function(a, b) {
        return(
          (sortOrder == "desc" ? sortMethod(a) < sortMethod(b) : sortMethod(a) > sortMethod(b)) ? 1 : -1
        )
      })

      return machines
    }
  },
  methods: {
    sortCssClasses: function(column) {
      if (this.sortColumn != column) {
        return "fa-exchange inactive-sort-button"
      }

      return "active-sort-button fa-sort-alpha-" + this.sortOrder
    },
    toggleSortColumn: function () {
      if (this.sortOrder == "asc") {
        this.sortOrder = "desc"
      } else {
        this.sortOrder = "asc"
      }
    },
    sortMachinesByScanTarget: function () {
      if (this.sortColumn != "scan_target") {
        this.sortOrder = "asc"
      } else {
        this.toggleSortColumn()
      }
      this.sortColumn = "scan_target"
    },
    sortMachinesByName: function () {
      if (this.sortColumn != "name") {
        this.sortOrder = "asc"
      } else {
        this.toggleSortColumn()
      }
      this.sortColumn = "name"
    },
    sortMachinesByStatus: function () {
      if (this.sortColumn != "status") {
        this.sortOrder = "asc"
      } else {
        this.toggleSortColumn()
      }
      this.sortColumn = "status"
    }
  }
}
</script>

<style scoped>
.inactive-sort-button {
  transform: rotate(90deg);
  opacity: 0.2;
  cursor: pointer;
}

a.action {
  margin: 0px 5px;
}

a.danger {
  color: #E00000
}

i.active-sort-button {
  cursor: pointer;
}

.sortable-header-tooltip {
  padding-left: 4px;
}
</style>
