<template lang="pug">
div
  .loading-message(v-if="pageLoading")
    i.fa.fa-refresh.fa-spin
  div(v-else, key="machine-list")
    machine-modal(mode="new")
    machines-summary
    .box
      #machines-index-box-header.box-header.with-border
        i.fa.fa-laptop
        h3.box-title Machines Index
        .box-tools.pull-right
          .row.machines-table-action-buttons-row
            .col-md-2.machines-table-action-button-col
              button.btn.btn-xs.btn-box-tool(:class="this.organization.contains_enabled_tests ?  '' : 'disabled'", :title="scanAllTitle", @click="scanAll()")
                i.fa.fa-play-circle
                |
                | Scan All
            .col-md-3.machines-table-action-button-col
              button.btn.btn-xs.btn-box-tool(@click="openNewMachineModal()")
                i.fa.fa-plus-circle
                |
                | New Machine
            .col-md-7
              v-select(v-model="filterKey", :options="statuses", placeholder="Filter by status...")
      .box-body.no-padding
        div(v-if="machines.length == 0")
          h4.text-center No machines have been added to this organization.
          p.text-center
            a.click-here-link("data-toggle"="modal", "data-target"="#new-machine-modal", "title"="Add New Machine") Click Here to add one now.
        div(v-else-if="filteredMachines.length == 0")
          h4.text-center
            i.circle-warning.fa.fa-exclamation-triangle
            |
            | No machines found with status "{{filterKey.value}}"
        machine-table(v-else, :machines="filteredMachines")
</template>

<script>
import MachineTable from './machines-table.vue'
import MachinesSummary from './machines-summary.vue'
import MachineModal from './machine-modal.vue'
import vSelect from "vue-select"
import { mapState } from 'vuex'

export default {
  components: {
    MachineModal,
    MachineTable,
    MachinesSummary,
    vSelect
  },
  props: {
    organizationId: String
  },
  data: function () {
    return {
      filterKey: null,
      statuses: [
        { value: "default", label: "Default" },
        { value: "fail", label: "Fail" },
        { value: "warn", label: "Warn" },
        { value: "pass", label: "Pass" },
        { value: "info", label: "Info" },
        { value: "show_all", label: "Show All" }
      ],
      pageLoading: true
    }
  },
  created: function () {
    this.$http.get(Routes.organization_machines_path(this.organizationId, { format: 'json' }))
    .then((response) => {
      this.$store.commit('machines/setOrganization', { organization: response.data.organization })
      this.$store.commit('machines/setMachines', { machines: response.data.machines })
      this.pageLoading = false
    })
    .catch((error) => {
      Norad.alert("Failure", "Something went wrong", "danger")
    })
  },
  computed: {
    ...mapState('machines', ['organization']),
    ...mapState({ machines: state => state.machines.items }),
    scanAllTitle: function () {
      return this.organization.contains_enabled_tests ? "You need to add tests before attempting to scan" : null
    },
    filteredMachines: function () {
      let machines = this.machines
      let filterKey = this.filterKey

      if (filterKey && filterKey.value != "show_all") {
        machines = machines.filter(function (machine) {
          return machine.status == filterKey.value
        })
      }

      return machines
    }
  },
  methods: {
    openNewMachineModal: function () {
      $("#new-machine-modal").modal("show")
    },
    scanAll: function () {
      if (!this.organization.contains_enabled_tests) return

      this.$http.post(Routes.scan_organization_path({ id: this.organizationId }))
      .then((response) => {
        Norad.alert("Success", "Scan started", "success")
      })
      .catch((error) => {
        Norad.alert("Failure", "Could not perform scan all. Please try again later", "danger")
      })
    }
  }
}
</script>

<style scoped>
.loading-message {
  text-align: center;
  margin-top: 30px;
}

.loading-message > .fa-spin {
  font-size: 36px;
}

.action-button {
  cursor: pointer;
}

#machines-index-box-header {
  padding: 18px;
}

.machines-table-action-button-col {
  margin-top: 2px;
}

.machines-table-action-buttons-row {
  margin-top: 4px;
}
</style>
