.modal-dialog
  .modal-content
    .modal-header
      %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
        %span{ 'aria-hidden' => 'true' } &times;
      %h4.modal-title Edit Result Ignore Rule
    .modal-body
      :ruby
        update_path = machine_result_ignore_rule_path(scope, rule) if scope.is_a?(Machine)
        update_path = organization_result_ignore_rule_path(scope, rule) if scope.is_a?(Organization)
      = form_for rule, as: :result_ignore_rule, url: update_path, html: { class: 'result-ignore-rule-edit-form' } do |f|
        .form-group
          %label Comment
          = f.text_area :comment, class: 'form-control non-resizeable', maxlength: 255
    .modal-footer
      %button.btn.btn-default{ 'data-dismiss' => 'modal' } Close
      %button.btn.btn-primary#result-ignore-rule-edit-form-save-button Save
