.modal.fade#result-ignore-rule-edit-form-modal
.row
  .col-md-12
    .box.box-default
      .box-header.with-border
        %i.fa.fa-eye-slash
        %h3.box-title
          Scan Result Ignore Rules
        .box-tools.pull-right
          .btn.btn-box-tool
            - msg = "These are the #{rule_scope} specific rules for ignoring security scan results."
            %i.fa.fa-question-circle{ 'data-toggle': 'tooltip', title: msg, 'data-placement': 'left' }
          %button.btn.btn-box-tool{ type: 'button', 'data-widget' => 'collapse' }
            %i.fa.fa-minus
      .box-body
        .container-fluid{ style: 'margin-bottom: 15px;' }
          .row
            .col-md-12
              %table.table
                %thead
                  %tr
                    %th.col-md-4 Comment
                    %th.col-md-1.text_center Creator
                    %th.col-md-2.text_center Creation Time
                    %th.col-md-2.text_center Update Time
                    %th.col-md-1.text-center Actions
                %tbody
                  :ruby
                    scope = machine if defined? machine
                    scope ||= org if defined? org
                  - scope.result_ignore_rules.each do |rule|
                    %tr{ 'data-result-ignore-rule-id' => rule.signature }
                      %td.col-md-4= rule.comment
                      %td.col-md-1.text_center= rule.created_by
                      %td.col-md-2.text_center= format_timestamp(rule.created_at)
                      %td.col-md-2.text_center= format_timestamp(rule.updated_at)
                      %td.col-md-1.text-center
                        :ruby
                          edit_path = edit_machine_result_ignore_rule_path(scope, rule) if scope.is_a?(Machine)
                          edit_path = edit_organization_result_ignore_rule_path(scope, rule) if scope.is_a?(Organization)
                          confirm_msg = 'Are you sure you want to delete this rule?'
                          delete_path = machine_result_ignore_rule_path(scope, rule.signature) if scope.is_a?(Machine)
                          delete_path = organization_result_ignore_rule_path(scope, rule.signature) if scope.is_a?(Organization)
                        = link_to edit_path, title: 'Edit Rule', remote: true do
                          %i.fa.fa-edit.action-icon
                        = link_to delete_path,
                                  method: :delete,
                                  data: { confirm: confirm_msg },
                                  class: 'delete-action',
                                  title: 'Delete Result Ignore Rule',
                                  remote: true,
                                  'data-type' => 'script' do
                          %i.fa.fa-close.action-icon
