<template lang="pug">
tr
  td.col-md-2 {{ type | capitalize }}
  td.col-md-2.text-center
    span.label(v-bind:class="status_label") {{ status | capitalize }}
  td.col-md-3.text-center {{ updated_at | format_timestamp }}
  td.text-right
    button.btn.btn-xs.btn-primary(
      v-bind:class="{ disabled: status == 'running' }"
      @click.prevent="runCheck" type='button') Run
</template>

<script>
require('lib/filters')

let statusUpdater = function(vm, id = 'latest') {
  vm.$http.get(Routes[vm.show_path](vm.machine_id, id, { format: 'json' }))
    .then(function(response) {
      vm.updated_at = new Date(response.data.updated_at)
      if (response.data.status) {
        vm.status = response.data.status
        clearInterval(window[vm.interval_name])
      }
    })
    .catch(function(error) {
      if (error.response.status !== 404)
        alert(`Error: ${error.response.data.errors}`)
    })
}

let runCheck = function(vm) {
  clearInterval(window[vm.interval_name])
  vm.$http.post(Routes[vm.create_path]({ machine_id: vm.machine_id, format: 'json' }), {})
    .then(function(response) {
      vm.status = response.data.status || 'running'
      vm.updated_at = new Date(response.data.updated_at)
      window[vm.interval_name] = setInterval(() => {
        statusUpdater(vm, response.data.id)
      }, 5000)
    })
    .catch(function(error) {
      alert(`Error: ${error.response.data.errors}`)
    })
}

export default {
  created: function() {
    statusUpdater(this)
  },
  data: function() {
    return {
      status: '',
      updated_at: ''
    }
  },
  computed: {
    create_path: function() {
      return `machine_${this.type}_connectivity_checks_path`
    },
    show_path: function() {
      return `machine_${this.type}_connectivity_check_path`
    },
    interval_name: function() {
      return `norad_${this.type}_interval`
    },
    status_label: function() {
      switch(this.status) {
        case 'failing':
          return 'label-danger'
          break
        case 'passing':
          return 'label-success'
          break
        default:
          return 'label-default'
      }
    }
  },
  methods: {
    runCheck: function(){
      runCheck(this)
    }
  },
  filters: {
    format_timestamp: function(date) {
      return date ? date.toLocaleString() : ''
    }
  },
  props: ['machine_id', 'type']
}
</script>
