- content_for :sidebar do
  = render 'sidebar', org: @org
%section.content-header
  = render 'organization_header', org: @org, menu_name: 'Security Tests'
  = render 'application/flash_messages'
%section.content
  .row
    .col-md-12
      .box.box-default
        .box-header.with-border
          %i.fa.fa-cubes
          %h3.box-title
            Security Test Selection and Configuration
          .box-tools.pull-right
            .btn.btn-box-tool
              - msg = 'Security tests chosen here will run on all machines within the organization.'
              %i.fa.fa-question-circle{ 'data-toggle': 'tooltip', title: msg, 'data-placement': 'left' }
            %button.btn.btn-box-tool{ 'data-widget' => 'collapse', type: 'button' }
              %i.fa.fa-minus
        .box-body
          - form_path = organization_security_tests_path(@org.id)
          = render 'security_tests/security_tests', form_path: form_path, target: @org, containers: @security_containers
  .row
    .col-md-12
      .box.box-default
        .box-header.with-border
          %i.fa.fa-tasks
          %h3.box-title
            Organization Requirements
        .box-body
          .container-fluid{ style: 'margin-bottom: 15px;' }
            .row
              .col-md-12
                = form_tag organization_enforcements_path(@org), method: 'post' do
                  %div{ style: 'width: 70%; display: inline-block;' }
                  .form-group.col-md-9.col-sm-7{ style: 'padding-left: 0px;' }
                    %select.req-group-list.form-control.select2.display-none{ multiple: 'multiple', name: 'requirement_group_ids[]', data: { placeholder: 'Select one or more requirement groups to enable' } }
                      - RequirementGroup.all.each do |req_group|
                        %option{ value: req_group.id }= req_group.name
                  .form-group
                    - spin_icon= '<i class="fa fa-spinner fa-spin"></i>'
                    %button.btn.btn-default#add-requirements{ type: 'submit', data: { disable_with: 'Adding Requirement...' } }
                      Add Requirements
          = render 'enforcements', org: @org
  = render 'result_ignore_rules/result_ignore_rules', rule_scope: 'organization', org: @org
