.tab-pane{ id: id }
  .row
    .col-md-6
      = form_tag security_container_config_path(config.id), method: :put, remote: true, class: 'form-horizontal', id: "#{id}-settings"
      - config.values.each do |key, val|
        .form-group
          %label.control-label.col-sm-3= key
          .col-sm-8
            - input_type = key =~ /password/i ? 'password' : 'text'
            %input.form-control{ type: input_type, name: "values[#{key}]", value: val }
      .form-group
        .col-sm-offset-3.col-sm-8
          %button.btn.btn-default.update-config
            Update Config
