= form_for [repository, container], html: { id: 'container-form', class: 'form-horizontal' } do |f|
  .hide.alert.alert-danger#container-form-errors{ role: :alert }

  .form-group
    .col-md-6
      %label.btn.btn-primary.btn-file
        Select a YAML File To Upload...
        %strong#yaml-upload-button-txt
        = f.file_field :yaml_attributes_file, hidden: true, id: 'yaml-upload'

%p Example YAML configuration for creating a single security test:
%pre.terminal-output
  %code= preserve { SecurityContainersHelper::EXAMPLE_CONTAINER_YAML }

%p Example YAML configuration for creating multiple security tests:
%pre.terminal-output
  %code= preserve { SecurityContainersHelper::EXAMPLE_CONTAINERS_YAML }
%p
  For more details about creating security tests, read the
  = link_to 'documentation on security containers.',
    'https://norad.gitlab.io/docs/#security-containers',
    target: '_blank'

