- if @error_msg.present?
  :plain
    Norad.alert('Danger', '#{j @error_msg}', 'danger self-destructable')
- else
  :plain
    Norad.alert('Success', 'Security Test removed.', 'success self-destructable')
    Norad.destruct_alerts_in(2000)
    $tr = $('[data-container-id="#{j @container_id}"]')
    $sibling = $tr.next()
    $tr.remove()
    $sibling.remove()

    if ($('[data-container-id]').length === 0) {
      $('#no-containers').removeClass('hide')
      $('#containers-table').addClass('hide')
    }

