<template lang="pug">
div.row
  .col-md-10.col-md-offset-1
    .loading-box
      i.fa.fa-spinner.fa-spin
      p One moment while we retrieve your results...
</template>

<script>
export default {
  data: function () {
    return {
    }
  }
}
</script>

<style scoped>
.loading-box {
  min-height: 300px;
  text-align: center;
  padding-top: 70px;
}

i.fa {
  color: #aaa;
  font-size: 72px;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  color: #888;
}

</style>
