- if @error_msg
  :plain
    Norad.alert('Failure', "#{ j(@error_msg) }", 'danger');
- else
  - success_msg = "Result successfully queued for export."
  :plain
    Norad.alert('Success', "#{ j(success_msg) }", 'success');
