%tr
  %td= name
  %td.text-center
    %i.fa.fa-check
  %td
    - scc_path = security_container_config_path(config_id)
    %a.edit-config{ href: scc_path, title: 'Edit Config', 'data-remote': 'true', 'data-id' => config_id, 'data-name' => name }
      %i.fa.fa-edit
    = link_to scc_path, method: :delete, remote: true, class: 'delete-config' do
      %i.fa.fa-close
