%section.content
  .box.box-danger
    .box-header.with-border
      %i.fa.fa-remove
      %h3.box-title
        Delete Organization
      .box-tools.pull-right
        %button.btn.btn-box-tool{ 'data-widget' => 'collapse', type: 'button' }
          %i.fa.fa-minus
    .box-body
      %p
        Removing this organization will remove all machines, configurations, results, etc....
      %p
        %b Deleted organizations CANNOT be restored!
    .box-footer
      - confirm_msg = 'Are you sure you want to delete this organization?'
      - disable_content = '<i class="fa fa-spinner fa-spin"></i>'
      = link_to 'Delete Organization', organization_path(org), method: :delete, data: { confirm: confirm_msg, 'disable_with' => disable_content }, class: 'btn btn-danger'
