= form_tag iaas_configuration_path(iaas_config.id), method: 'put', class: 'form-horizontal', id: 'iaas_config_form' do
  .form-group
    .col-md-2
      %label.control-label Provider
    .col-md-6
      %select.form-control#iaas-provider-field{ name: 'iaas_configuration[provider]' }
        - IaasConfiguration::VALID_PROVIDERS.each do |p|
          - if p.downcase != iaas_config.provider
            %option{ value: p.downcase }= p
          - else
            %option{ value: p.downcase, selected: true }= p
  .form-group
    .col-md-2
      %label.control-label User
    .col-md-6
      %span.help-block The User ID or Key ID for your account
      %input.form-control{ type: 'text', name: 'iaas_configuration[user]', value: iaas_config.user }
  .form-group
    .col-md-2
      %label.control-label Key
    .col-md-6
      %span.help-block The API Key or Password for your account
      %input.form-control{ type: 'password', name: 'iaas_configuration[key]', value: iaas_config.key }
  .form-group
    .col-md-2
      %label.control-label Region
    .col-md-6
      - if iaas_config.provider == 'aws'
        %input.region-field.form-control{ type: 'text', name: 'iaas_configuration[region]', value: iaas_config.region }
      - else
        %input.region-field.form-control{ type: 'text', disabled: 'disabled', name: 'iaas_configuration[region]' }
  .form-group
    .col-md-2
      %label.control-label Project
    .col-md-6
      - if iaas_config.provider == 'aws'
        %input.project-field.form-control{ type: 'text', disabled: 'disabled', name: 'iaas_configuration[project]', value: iaas_config.project }
      - else
        %input.project-field.form-control{ type: 'text', name: 'iaas_configuration[project]', value: iaas_config.project }
  .form-group
    .col-md-2
      %label.control-label Authentication URL
    .col-md-6
      %span.help-block The endpoint to be used for authentication
      - if iaas_config.provider == 'aws'
        %input.auth-field.form-control{ type: 'text', disabled: 'disabled', name: 'iaas_configuration[auth_url]', value: iaas_config.auth_url }
      - else
        %input.auth-field.form-control{ type: 'text', name: 'iaas_configuration[auth_url]', value: iaas_config.auth_url }
  %hr
  .form-group
    .col-md-12
      - if iaas_config.iaas_discoveries.any? { |d| %w(in_progress pending).include?(d.state) }
        %input.btn.btn-primary{ type: 'button', value: 'Discovery in Progress', disabled: 'disabled' }
      - else
        %input.btn.btn-primary#discover-assets{ type: 'button', value: 'Discover' }
      %input.btn.btn-success{ type: 'submit', value: 'Save' }
  %input{ type: 'hidden', name: 'organization_id', value: org.slug }

= form_tag iaas_configuration_iaas_discoveries_path(iaas_config), method: 'post', class: 'hidden', id: 'discovery-form' do
  %input{ type: 'hidden', name: 'organization_id', value: org.slug }
