%section.content{ style: 'min-height: 0px;' }
  .box.box-default
    .box-header.with-border
      %i.fa.fa-cloud
      %h3.box-title
        IaaS Configuration
      .box-tools.pull-right
        %button.btn.btn-box-tool{ 'data-widget' => 'collapse', type: 'button' }
          %i.fa.fa-minus
    .box-body
      - begin
        = render partial: 'iaas_config_edit_form', locals: { org: org, iaas_config: iaas_config }
      - rescue ActionView::Template::Error
        = render partial: 'iaas_config_new_form', locals: { iaas_config: IaasConfiguration.new(organization_id: org.slug) }
