%table.table.table-hover
  %thead
    %th{ style: 'width: 10px;' } ID
    %th IP
    %th FQDN
    %th Description
    %th Type
    %th State
    %th Status
    %th Actions
  %tbody
    - machines.each do |machine|
      %tr
        %td
          %a{ href: '#' }
            = machine.id
        %td.col-md-1= machine.ip
        %td= machine.fqdn
        %td.col-md-4= machine.description
        %td
          .label.bg-aqua
            Agent
        %td
          .label.label-success
            Online
        %td
          .label.label-warning
            Status
        %td{ style: 'font-size: 18px;' }
          %a.scan{ id: 1, href: '#', style: 'margin-right: 10px;' }
            %i.fa.fa-crosshairs
          %a{ href: '#', style: 'margin-right: 10px;' }
            %i.fa.fa-gear
          %a{ href: '#', style: 'margin-right: 10px;' }
            %i.fa.fa-edit
          %a{ href: '#', style: 'margin-right: 10px;' }
            %i.fa.fa-remove{ style: 'color: #E00000' }
