- admin = local_assigns.fetch(:admin_status, false)
%section.content{ style: 'min-height: 0px;' }
  .box.box-default
    .box-header.with-border
      %i.fa.fa-group
      %h3.box-title
        Member Access Controls
      .box-tools.pull-right
        %button.btn.btn-box-tool{ 'data-widget' => 'collapse', type: 'button' }
          %i.fa.fa-minus
    .box-body
      - if admin
        .row
          = form_tag(organization_memberships_path(organization_id: org.id), method: 'post', remote: true) do
            .form-group.col-md-4
              %input.form-control{ type: 'text', name: 'membership[uid]', placeholder: 'Enter User ID', style: 'width: 100%;' }
              %span.help-block
                %i
                  Note: Users being added to the organization must sign in to Norad at least 1 time before being added as a member.
            .form-group
              .col-md-2
                %select.form-control{ name: 'membership[admin]' }
                  %option{ value: 'false' } Reader
                  %option{ value: 'true' } Admin
            %button.btn.btn-success{ type: 'submit' } Add Member

        %hr

      %table.table#membership-table
        %thead
          %tr
            %th User ID
            %th Name
            %th Role
            %th Actions
        %tbody
          - memberships.each do |membership|
            %tr
              %td= membership.user.uid
              %td= membership.user.fullname
              %td= membership.role.capitalize
              %td
                :ruby
                  link_classes = 'btn btn-xs btn-danger delete-membership'
                  link_classes += ' disabled' unless admin
                = link_to 'Remove', membership_path(membership), class: link_classes, data: { confirm: 'Are you sure?' }, method: :delete, remote: true
