.modal.fade#notification-channel-form-modal
%section.content{ style: 'min-height: 0px;' }
  .box.box-default
    .box-header.with-border
      %i.fa.fa-envelope
      %h3.box-title
        Notification Management
      .box-tools.pull-right
        %button.btn.btn-box-tool{ 'data-widget': 'collapse', type: 'button' }
          %i.fa.fa-minus
    .box-body
      %p
        Enable or Disable email notifications. When enabled, all members of this organization will receive the
        notification.
      = render 'notifications_table'
