- if @org.blank?
  :plain
    Norad.alert('Warning', 'You are not authorized to delete this organization!', 'danger');
- else
  :plain
    $('tr[data-organization-id="#{ j(@org.slug) }"]').remove();
    Norad.alert('Success', "#{ j(@org.slug) } was successfully deleted.", 'success');
