- view = j(render(partial: 'container_rows', locals: { data: @container_configs })) unless @container_configs.empty?
:plain
  $('#enabled-containers').append("#{view}");
  $('select.select2').val(null).trigger('change');
