- content_for :sidebar do
  = render 'sidebar', org: nil
%section.content-header
  %h1{ style: 'display: inline-block' }
    Organization
%section.content
  - unless flash.keys.empty?
    - flash.each do |key, val|
      .callout{ class: "callout-#{key}" }
        %b
          = val
  .callout.callout-danger
    %b You are not authorized to view this organization!
