- content_for :sidebar do
  = render 'sidebar', org: @org

%section.content-header
  %h1 Scan History for Organization #{@org.slug}
  = render 'application/flash_messages', self_destructable: true

%section.content
  .box.box-default
    .box-body
      .row
        .col-md-12
          %table.table
            %thead
              %th Scan ID
              %th State
              %th Date
              %th Machines Scanned
              %th Passing
              %th Erroring
              %th Failing
              %th Actions
            %tbody
              - @org.assessments_summary.each do |dc_id, dc|
                %tr
                  %td= link_to dc_id, results_organization_path(@org, scan_id: dc_id)
                  %td= dc[:state_details]
                  %td= format_timestamp(dc[:created_at])
                  %td= dc[:machines_scanned].to_i
                  %th= dc.dig(:results_summary, :passing).to_i
                  %th= dc.dig(:results_summary, :erroring).to_i
                  %th= dc.dig(:results_summary, :failing).to_i
                  %th= remove_scan_button(dc_id, @org, classes: 'btn btn-danger btn-xs')
