- content_for :sidebar do
  = render 'sidebar', org: nil
%section.content-header
  %h1{ style: 'display: inline-block' } Organizations

%section.content
  .row
    .col-md-12
      %organizations{ "orgs": orgs_to_json(@orgs), "default_org": @default_org }

= javascript_pack_tag 'organizations_index'
= stylesheet_pack_tag 'organizations_index'
