- content_for :sidebar do
  = render 'sidebar', org: nil
%section.content-header
  %h1 Organizations
%section.content
  .row
    - flash.each do |key, val|
      .col-md-12.alert.alert-dismissable{ class: "alert-#{key}" }
        %button.close{ type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => true }
          &times;
        = val
    .col-md-6
      .box.box-primary
        .box-header.with-border
          %h3.box-title New Organization
        = form_tag organizations_path, method: 'post' do
          .box-body
            .form-group
              %label Org Name
              %input.form-control{ type: 'text', name: 'organization[uid]' }
          .box-footer
            %button.btn.btn-primary#submit-org{ type: 'submit' } Submit
