- content_for :sidebar do
  = render 'sidebar', org: nil
%section.content-header
  %h1{ style: 'display: inline-block' }
    Organization
%section.content
  .callout.callout-info
    %b The organization you are looking for does not exist!
