- content_for :sidebar do
  = render 'sidebar', org: @org
%section.content-header
  = render 'organization_header', org: @org, menu_name: 'Dashboard'
  = render 'application/flash_messages'
%section.content
  - if @org.blank?
    .row
      .col-md-12
        .callout.callout-danger
          %b Something went wrong. Please contact a Norad admin.
  - else
    .row
      .col-md-12
        .callout.callout-info
          %b
            Organization Registration Token:
          %span{ style: 'margin-left: 10px;' }
            = @org.token
          - unless @org.token.blank?
            = link_to organization_organization_token_path(@org), id: 'recreate-org-token', class: 'pull-right', title: 'Recreate Token', method: :put do
              %i.fa.fa-refresh
    .row
      .col-md-3.col-sm-6.col-xs-12
        = link_to(organization_machines_path(@org.slug), class: 'info-box-link') do
          .info-box
            %span.info-box-icon.bg-aqua
              .fa.fa-laptop
            .info-box-content
              %span.info-box-text
                Machines
              %span.info-box-number#machine-count
                = @org.machine_count
      .col-md-3.col-sm-6.col-xs-12
        = link_to(organization_machines_path(@org.slug), class: 'info-box-link') do
          .info-box
            %span.info-box-icon.bg-green
              .fa.fa-thumbs-o-up
            .info-box-content
              %span.info-box-text
                Passing
              %span.info-box-number
                = @org.machine_assessment_summary['passing']
      .col-md-3.col-sm-6.col-xs-12
        = link_to(organization_machines_path(@org.slug), class: 'info-box-link') do
          .info-box
            %span.info-box-icon.bg-yellow
              .fa.fa-exclamation-triangle
            .info-box-content
              %span.info-box-text
                Erroring / Warning
              %span.info-box-number
                = @org.machine_assessment_summary['erroring'] + @org.machine_assessment_summary['warning']
      .col-md-3.col-sm-6.col-xs-12
        = link_to(organization_machines_path(@org.slug), class: 'info-box-link') do
          .info-box
            %span.info-box-icon.bg-red
              .fa.fa-thumbs-o-down
            .info-box-content
              %span.info-box-text
                Failing
              %span.info-box-number
                = @org.machine_assessment_summary['failing']
    - if @org.configuration_errors?
      = render 'errors', org: @org
    - elsif @org.machines.count.zero?
      = render 'no_machines', org: @org
    - else
      = render 'ready_to_use_norad', org: @org
