- container_name = image_name(container.name)
%tr
  %td= container.security_test_repository.name
  %td
    = container_name
    %a.pull-right{ href: container.help_url,
        title: security_container_help_title(container_name),
        target: '_blank',
        style: 'margin-left: 5px;' }
      %i.fa.fa-question-circle.help-icon
  %td.text-center
    - icon = config.enabled_outside_of_requirement ? 'fa-check' : 'fa-close'
    %i.fa{ class: icon }
  %td.text-center
    - scc_path = security_container_config_path(config.id)
    - if container.configurable?
      %a.edit-config{ href: scc_path, title: 'Edit Config', 'data-remote': 'true', 'data-id' => config.id, 'data-name' => container_name }
        %i.fa.fa-edit.action-icon
    = link_to scc_path, method: :delete, remote: true, class: 'delete-config' do
      %i.fa.fa-close.action-icon
  %td
    = container.service_requirements
