.container-fluid
  .row
    .col-md-12
      = form_tag form_path, method: 'post', class: 'form-inline', remote: true, id: 'add-security-tests-form' do
        .form-group.col-md-9.col-sm-7{ style: 'padding-left: 0px;' }
          %select.form-control.select2.display-none#security-test-list{ multiple: 'multiple', name: 'container_ids[]', data: { placeholder: 'Select one or more tests to enable' } }
            - containers.each do |_id, container|
              %option{ value: container.id }= prefixed_name(container)
        .form-group
          %button.btn.btn-default{ type: 'submit', data: { disable_with: 'Adding Security Tests...' } }
            Add Security Tests

- configs = target.security_container_configs

%table.table#enabled-containers
  %thead
    %tr
      %th.col-md-2 Repository Name
      %th.col-md-3 Security Test Name
      %th.col-md-1.text-center Enabled Explicitly
      %th.col-md-1.text-center Actions
      %th
        Service Requirements
        = render 'tooltip', message: 'Services satisfying these service requirements must be added or discovered for a security test to scan a particular machine.'
  %tbody
    - configs.each do |config|
      = render 'security_tests/security_test_row', config: config, container: containers[config.security_container_id]
.modal.fade#security-test-config
