
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alert-overlay {
  position: fixed;
  margin: 10px 15px;
  right: 0;
  width: 350px;
  z-index: 10;
}

pre.terminal-output {
  background: black;
  color: white;
  font-family: "Menlo", "Liberation Mono", "Consolas", "DejaVu Sans Mono", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
  font-size: 12px;
  font-weight: bold;
  overflow: auto;
  overflow-y: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
}

pre code {
  pading: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

pre.shell-command {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

hr.small {
  margin: 5px 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: black;
}

.action-icon {
  margin: 0px 3px;
}

.delete-action {
  color: #d33724;
}

.important-warning.fa-warning {
  color: #dd4b39;
}

.tooltip {
  position: fixed;
}

.underline {
  text-decoration: underline;
}

.non-resizeable {
  resize: none;
}

hr.info-spacer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tooltip-container {
  text-align: left;
}

.skin-blue .sidebar-menu > li.header.norad-header {
  color: #fff;
  font-size: 14px;
}


/* This class is used to allow an entire info-box
 * to be used as a link without changing it's style
 */
.info-box-link {
  color: black;
}

.info-box-link:hover {
  color: black;
}

/* Extension to AdminLTE .info-box class
 * This allows both types of info boxes to be
 * used at ~ 1/2 height
 */
.info-box.info-box-sm {
  min-height: 45px;

  > .info-box-content {
    margin-left: 60px;
  }

  > .info-box-icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 28px;
  }
}

.see-more {
  color: #999;
  font-size: 12px;
  padding-left: 5px;
  cursor: pointer;
}

.click-here-link {
  margin-right: 2px;
  cursor: pointer;
}

.faded-text {
  color: #c5c5c5;
}

.help-icon {
  color: #97a0b3;
  font-size: 12px;
  cursor: pointer;
}

.display-none {
  display: none;
}
