.key-signature-label {
  font-family: "Courier New", Courier, monospace;
  color: white;
  background: #4A4A4A;
  font-weight: 600;
  border-radius: 2px;
  padding: 3px 10px;
}

.org-actions {
  a {
    margin-right: 5px;
  }
}

.organization-errors-and-warnings {
  padding: 20px 30px;
  background: #dd4b39 none repeat scroll 0% 0%;
  color: #fff;
  z-index: 999999;
  font-size: 16px;
  font-weight: 600;

  a {
    float: right;
  }
}
