hr.result-item {
  margin: 10px 0 10px 0;
}

.stats-label {
  color: white;
  border-radius: 3px;
  padding: 4px 8px;
  margin-bottom: 4px;
}

.stats-label-success {
  background-color: #00a65a;
}

.stats-label-warning {
  background-color: #f39c12;
}

.stats-label-danger {
  background-color: #f56954;
}

.stats-label-info {
  background-color: #00c0ef;
}

.stats-label-default {
  background-color: #d2d6de;
}

.stats-label-dark {
  background-color: gray;
}

.stats-badge {
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  padding: 0px 5px;
}

.stats-badge-success {
  color: #00a65a;
}

.stats-badge-warning {
  color: #f39c12;
}

.stats-badge-danger {
  color: #f56954;
}

.stats-badge-info {
  color: #00c0ef;
}

.stats-badge-default {
  color: #d2d6de;
}

.stats-badge-dark {
  color: gray;
}
