.ssh-key-box {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 3px solid #d2d6de;
  margin-bottom: 25px;
  border-bottom: 1px solid #f5f5f5;

  > .ssh-key-row {
    padding: 3px 0px;
    margin-bottom: 10px;
  }

  span.ssh-key-header {
    margin-right: 5px;
    font-weight: bold;
  }

  .ssh-key-fingerprint {
    display: inline-block;
    background-color: #e8e8e8;
    font-family: monospace;
    padding: 0px 5px;
    border-radius: 2px;
  }

  .ssh-key-fingerprint-condensed {
    @extend .ssh-key-fingerprint;
    font-size: 12px;
  }
}
