- sorted_ignored_results = assessment.results.select(&:ignored).sort_by(&:status)
- sorted_unignored_results = assessment.results.reject(&:ignored).sort_by(&:status)
- if assessment.results.empty?
  %p No Results Available
- else
  .row{ style: 'margin-bottom: 15px;' }
    .col-md-6
      %b.underline Title
    .col-md-6
      %b.underline Actions
  = render partial: 'machines/results/result_row', collection: sorted_unignored_results, as: :result, locals: { machine: machine, org: org, show_terminal_output: false }

  .row.toggle-on-show-ignored{ class: ('hide' if sorted_ignored_results.count.zero?) }
    .col-md-12
      %i Not showing #{sorted_ignored_results.count} ignored #{'result'.pluralize(sorted_ignored_results.count)}

  %section.toggle-on-show-ignored.hide
    = render partial: 'machines/results/result_row', collection: sorted_ignored_results, as: :result, locals: { machine: machine, org: org }
