.modal-dialog
  .modal-content
    .modal-header
      Edit Machine
      %button.close{ 'data-dismiss': 'modal' }
        %span &times;
    .modal-body
      = form_for @machine, html: { class: 'machine-edit-form' } do |f|
        .form-group
          %label Machine IP
          = f.text_field :ip, class: 'form-control'
        .form-group
          %label Machine FQDN
          = f.text_field :fqdn, class: 'form-control'
        .checkbox
          %label
            = f.check_box :use_fqdn_as_target
            Use FQDN as Target
        .form-group
          %label Machine Name
          %span.help-block A name will be generated for you if this field is left blank
          = f.text_field :name, class: 'form-control', maxlength: 36
        .form-group
          %label Machine Description
          = f.text_area :description, class: 'form-control'
    .modal-footer
      %button.btn.btn-default{ "data-dismiss": 'modal' } Close
      %button.btn.btn-primary#machine-edit-form-save-button Save
