.row
  .col-md-12
    .box.box-default
      .box-body
        - if assessments_summary.size <= 0
          = render 'machines/results/no_scans_run', machine: machine
        - else
          %table.table
            %thead
              %tr
                %th Scan ID
                %th State
                %th Date
                %th Actions
            %tbody
              - assessments_summary.each do |scan_id, summary_item|
                %tr{ data: { scan: { id: scan_id } } }
                  %td= link_to_scan_id(machine, latest_scan_id, scan_id)
                  %td= summary_item[:state_details]
                  %td= format_timestamp(summary_item[:created_at])
                  %td.scan-actions
                    = remove_scan_button(scan_id, machine, classes: 'btn btn-danger btn-xs', remote: true)
