- results[:data].each do |service, assessment_result_hash|
  - assessment_result_hash.each do |assessment, result_array|
    .row.service-row
      .col-md-12
        .service-results-header
          = requirements_to_human_from_assessment(assessment)
          [#{service}] -- #{security_container_header_string(assessment)}
        .service-results
          - show_ignored = local_assigns.fetch(:show_ignored, false)
          = render partial: 'machines/results/result_row',
                   collection: result_array,
                   as: :result,
                   locals: { show_terminal_output: false, show_ignored: show_ignored, machine: machine, org: org }
