- if org.ssh_key_pairs.blank?
  .callout.callout-warning
    %h4
      %i.fa.fa-warning
      Warning!
    %p
      No Keys available to assign to this machine.
      Keys must first be uploaded to the organization before being assigned to a machine.
      %br
      Please visit the
      = link_to 'Organization Settings Page', settings_organization_path(org)
      to upload keys.
- else
  = form_tag machine_ssh_key_pair_assignment_path(machine), method: 'post', class: 'form-inline' do
    .form-group.col-md-4
      %select.ssh-key-pair-select.form-control{ name: 'ssh_key_pair_id', style: 'width: 100%;' }
        - org.ssh_key_pairs.each do |kp|
          %option{ value: kp.id }= kp.name
    = submit_tag 'Assign Key To Machine', class: 'btn btn-success', data: { disable_with: 'Assigning...' }
