- content_for :sidebar do
  = render 'sidebar', org: nil
%section.content-header
  %h1{ style: 'display: inline-block' }
    %span{ style: 'color: gray;' }
      Machine
%section.content
  - unless flash.keys.empty?
    - flash.each do |key, val|
      .callout{ class: "alert-#{key}" }
        %b= val
