- content_for :sidebar do
  = render 'sidebar', org: @machine.organization, machine: @machine

- content_for :header_content do
  = render 'assessable/header', machine: @machine, large_title: "Scan History for Machine #{@machine.name}"
  = render 'application/flash_messages'

- content_for :main_window_content do
  #history-pane
    = render 'history_pane',
      machine: @machine,
      assessments_summary: @machine.assessments_summary,
      latest_scan_id: @latest_scan_id

- content_for :side_window_content do
  = render 'machines/machine_info', machine: @machine
