- content_for :sidebar do
  = render 'sidebar', org: @org
%section.content-header
  = render 'organization_header', org: @org, menu_name: 'Machines'
  = render 'application/flash_messages'
%section.content
  %machine-list{ "organization_id": @org.id }
= javascript_pack_tag 'machines_index'
= stylesheet_pack_tag 'machines_index'
