- if @org
  :plain
    $('#machine-form-modal.modal.fade').html("#{j render(partial: 'new_form', locals: { org: @org })}")
    $('body').trigger({ type: 'machine_new_form', form_type: 'new' })
- else
  :plain
    Norad.alert('Error!', 'Unable to show the new machine creation form.', 'danger');
