- content_for :sidebar do
  = render 'sidebar', org: @machine.organization, machine: @machine

- content_for :header_content do
  - small_title = format_timestamp(@assessments.map(&:created_at).max)
  = render 'assessable/header',
           machine: @machine,
           large_title: results_page_title(@scan_id, @assessments),
           small_title: small_title
  = render 'application/flash_messages', self_destructable: true

- content_for :main_window_content do
  - if @assessments.empty? && @docker_command&.state_details.present?
    .alert.alert-danger
      %p= @docker_command.state_details
  - else
    .box.box-default
      .box-header.with-border
        %h3.box-title
          %i.fa.fa-bar-chart
          Results
        %span.pull-right
          %strong.small{ style: 'margin-right: 10px;' }
            Grouped By:
          %span.btn-group.btn-group-xs{ 'data-toggle': 'buttons' }
            %label.btn.btn-primary.active
              %input.group-by-button{ type: 'radio', name: 'options', autocomplete: 'off', 'data-results-target': '.status-view', checked: '' } Status
            %label.btn.btn-primary
              %input.group-by-button{ type: 'radio', name: 'options', autocomplete: 'off', 'data-results-target': '.security-test-view' } Security Test
            %label.btn.btn-primary
              %input.group-by-button{ type: 'radio', name: 'options', autocomplete: 'off', 'data-results-target': '.requirement-view' } Requirement
          - unless total_ignored_for_assessments(@assessments).zero?
            %a.btn.btn-default.btn-xs.show-hide-ignored{ href: '#', 'data-toggle': 'button' } Show Ignored
      .box-body
        .row
          .col-md-12.result-views
            = render 'machines/results/status_view', docker_command_state: @docker_command&.state, assessments: @assessments, machine: @machine, org: @machine.organization
            = render 'machines/results/security_test_view', docker_command_state: @docker_command&.state, assessments: @assessments, machine: @machine, org: @machine.organization
            = render 'machines/results/requirement_view', docker_command_state: @docker_command&.state, assessments: @assessments, machine: @machine, org: @machine.organization

- content_for :side_window_content do
  = render 'machine_info', machine: @machine
  = render 'machines/results/stats', summary_stats: Assessment.statistics(@assessments)
