- content_for :sidebar do
  = render 'sidebar', org: @machine.organization, machine: @machine

- content_for :header_content do
  = render 'application/flash_messages'
  = render 'application/fingerprint_modal'
  - if @render_new_service_modal
    .modal.fade.show-modal-via-js#service-form-modal
  = render 'assessable/header', machine: @machine, large_title: 'Machine Settings'

- content_for :main_window_content do
  = render partial: 'ssh_key_pair', locals: { machine: @machine, org: @machine.organization }
  = render partial: 'machine_scan_schedules/settings_panel', locals: { machine: @machine }
  %connectivity-checks-box{ "machine_id": @machine.to_param }

  = javascript_pack_tag 'connectivity_checks'
  = stylesheet_pack_tag 'connectivity_checks'
- content_for :side_window_content do
  = render partial: 'machines/machine_info', locals: { machine: @machine }
