%span.pull-right
  %span.result-statistics-header-item{ title: 'Failed Results' }
    %span.label.label-danger.stat-label-spacing
      %span.stat-emphasis= failed
  %span.result-statistics-header-item{ title: 'Errored Results' }
    %span.label.label-warning.stat-label-spacing
      %span.stat-emphasis= errored + warned
  %span.result-statistics-header-item{ title: 'Passed Results' }
    %span.label.label-success.stat-label-spacing
      %span.stat-emphasis= passed
  %span.result-statistics-header-item{ title: 'Info Results' }
    %span.label.label-info.stat-label-spacing
      %span.stat-emphasis= info
  %span.result-statistics-header-item{ title: 'Ignored Results' }
    %span.label.label-default.stat-label-spacing
      %span.stat-emphasis= ignored
