%span
  %span.result-statistics-header-item.tests-completed-spacing
    %span.label.label-default.stat-label-spacing{ 'data-toggle' => 'tooltip',
                                                  'title' => 'Each assessment can have more than one result. Results are tallied to the right.',
                                                  'data-placement' => 'right' }
      Tests Completed
      %span.stat-emphasis.test-stat-emphasis
        #{total - incomplete} of #{total}
%span.pull-right
  %span.result-statistics-header-item
    %span.label.label-danger.stat-label-spacing
      Failed
      %span.stat-emphasis= failed
  %span.result-statistics-header-item
    %span.label.label-warning.stat-label-spacing
      Errored
      %span.stat-emphasis= errored + warned
  %span.result-statistics-header-item
    %span.label.label-success.stat-label-spacing
      Passed
      %span.stat-emphasis= passed
  %span.result-statistics-header-item
    %span.label.label-info.stat-label-spacing
      Info
      %span.stat-emphasis= info
  %span.result-statistics-header-item
    %span.label.label-default.stat-label-spacing
      Ignored
      %span.stat-emphasis= ignored
