- unless flash.keys.empty?
  .container{ class: ('self-destructable' if local_assigns.fetch(:self_destructable, false)), style: 'margin-top: 10px;' }
    - flash.each do |key, value|
      .row
        .col-md-12.alert.alert-dismissable{ class: "alert-#{key}" }
          %button.close{ type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => true }
            &times;
          = value
