%aside.main-sidebar
  %section.sidebar{ style: 'height: auto;' }
    - unless org.nil?
      .user-panel
        .pull-left.image
          %img.img-circle{ alt: 'User Image', src: '/norad-img.jpg' }
        .pull-left.info
          %h4{ style: 'margin: 8px 0px;' }= org.uid
    %ul.sidebar-menu
      - if local_assigns.fetch(:machine, nil)
        %li.header.norad-header MACHINE NAVIGATION
        - results_link = results_machine_path(machine.id, scan_id: 'latest')
        %li{ class: "#{nav_link_css_class(results_link)}" }
          %a#machine-results-link{ href: results_link }
            %i.fa.fa-dashboard
            %span Latest Results
        %li{ class: "#{nav_link_css_class(history_machine_path(machine.id))}" }
          %a#machine-history-link{ href: history_machine_path(machine.id) }
            %i.fa.fa-clock-o
            %span Scan History
        %li{ class: "#{nav_link_css_class(machine_services_path(machine.id))}" }
          %a{ href: machine_services_path(machine.id) }
            %i.fa.fa-gears
            %span Services
            %span.pull-right-container
              - if machine.services.blank?
                %small.label.pull-right.bg-yellow 0
              - else
                %small.label.pull-right.bg-aqua
                  = machine.services.count
        %li{ class: "#{nav_link_css_class(machine_security_tests_path(machine.id))}" }
          %a{ href: machine_security_tests_path(machine.id) }
            %i.fa.fa-cubes
            %span Security Tests
            %span.pull-right-container
              - if machine.enabled_tests_count == 0
                %small.label.pull-right.bg-yellow 0
              - else
                %small.label.pull-right.bg-gray
                  = machine.enabled_tests_count
        %li{ class: "#{nav_link_css_class(settings_machine_path(machine.id))}" }
          %a#machine-settings-link{ href: settings_machine_path(machine.id) }
            %i.fa.fa-gear
            %span Machine Settings
      - if local_assigns.fetch(:org, nil)
        %li.header.norad-header ORGANIZATION NAVIGATION
        %li{ class: "#{nav_link_css_class(organization_path(org.slug))}" }
          %a{ href: organization_path(org.slug) }
            %i.fa.fa-dashboard
            %span Dashboard
        %li{ class: "#{nav_link_css_class(history_organization_path(org.id))}" }
          %a{ href: history_organization_path(org.id) }
            %i.fa.fa-clock-o
            %span Scan History
        %li{ class: "#{nav_link_css_class(organization_machines_path(org.slug))}" }
          %a{ href: organization_machines_path(org.slug) }
            %i.fa.fa-laptop
            %span Machines
        %li{ class: "#{nav_link_css_class(organization_security_tests_path(org.slug))}" }
          %a{ href: organization_security_tests_path(org.slug) }
            %i.fa.fa-cubes
            %span Security Tests
        %li{ class: "#{nav_link_css_class(organization_relays_path(org.slug))}" }
          %a{ href: organization_relays_path(org.slug) }
            %i.fa.fa-sitemap
            %span Relays
            - if relay_error_message(org)
              %i.fa.fa-warning.important-warning
        %li{ class: "#{nav_link_css_class(organization_scan_schedules_path(org.slug))}" }
          %a{ href: organization_scan_schedules_path(org.slug) }
            %i.fa.fa-clock-o
            %span Scan Schedule
        %li{ class: "#{nav_link_css_class(settings_organization_path(org.slug))}" }
          %a{ href: settings_organization_path(org.slug) }
            %i.fa.fa-gear
            %span Organization Settings
      %li.header.norad-header SYSTEM NAVIGATION
      %li{ class: "#{nav_link_css_class(organizations_path)}" }
        %a{ href: organizations_path }
          %i.fa.fa-group
          %span Organizations
      %li{ class: "#{nav_link_css_class(requirement_groups_path)}" }
        %a{ href: requirement_groups_path }
          %i.fa.fa-check-circle
          %span Requirement Groups
      %li{ class: "#{nav_link_css_class(security_test_repositories_path)}" }
        %a{ href: security_test_repositories_path }
          %i.fa.fa-ship
          %span Test Repositories
      %li{ class: "#{nav_link_css_class('https://norad.cisco.com/docs')}" }
        %a{ href: 'https://norad.cisco.com/docs', target: '_blank' }
          %i.fa.fa-book
          %span Documentation
