!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title NORAD - Login
    = stylesheet_pack_tag 'norad_vendor', media: 'all'
    = javascript_pack_tag 'norad_vendor'
    = javascript_pack_tag 'norad_src'
    = csrf_meta_tags
  %body
    .login-box{ style: 'border: 1px solid #D2D6DE;' }
      %h1{ style: 'text-align: center;' } NORAD
      - flash.each do |key, val|
        .col-md-10.col-md-offset-1.alert.alert-dismissable{ class: "alert-#{key}" }
          %button.close{ type: 'button', 'data-dismiss' => 'alert', 'aria-hidden' => true }
            &times;
          = val
      .login-box-body
        = yield
