= content_for :organization_configuration_errors do
  - if @org&.configuration_errors?
    - relay_error = relay_error_message(@org)
    - msg = relay_error.blank? ? organization_errors_message(@org.organization_errors.count) : relay_error
    .organization-errors-and-warnings
      %strong
        %i.fa.fa-exclamation-triangle
        Warning!
      %span{ style: 'margin-left: 5px;' }
        = msg
      - unless relay_error
        %a.btn.bg-gray-light.btn-xs{ href: organization_path(@org) }
          View Error Details

= render template: 'layouts/application'
