- content_for :header do
  = yield :header_content

- content_for :main_window do
  = yield :main_window_content

- content_for :side_window do
  = yield :side_window_content

- render 'application/organization_configuration_errors'

- content_for :nested_layout do
  %section.content-header
    = yield :header
  %section.content
    .row
      .col-md-9
        = yield :main_window
      .col-md-3
        = yield :side_window

= render template: 'layouts/application'
